{
	"possibleOutput": [
		"bakedsweetpotatoMFM",
		"chocolateliquorMFM",
		"cocoabeansMFM",
		"cocoanibsMFM",
		"cookedbananaMFM",
		"cookedbannockMFM",
		"cookedboltbulbMFM",
		"cookedcactiMFM",
		"cookedcoralcreepMFM",
		"cookedcornMFM",
		"cookeddiodiaMFM",
		"cookeddirturchinMFM",
		"cookedeggMFM",
		"cookedeggshootMFM",
		"cookedflytrapMFMmeat",
		"cookedkelpMFM",
		"cookedshroomMFM",
		"cupcakeMFM",
		"driedautomatoMFM",
		"driedtomatoMFM",
		"grilledasparagusMFM",
		"grilledonionMFM",
		"groatsMFM",
		"raisinsMFM",
		"roastedcoffeebeansMFM",
		"roastedpeanutMFM",
		"toast",
		"toastedmarshmallowMFM",
		"toffeeMFM",
		"bdaycakeMFM",
		"chocolatecookieMFM",
		"pinanaMFM",
		"piodiaMFM",
		"pizzaMFM",
		"roastedgarpberrysMFM",
		"veggieburgerMFM",
		"chocolatecoveredbaconMFM",
		"jeloncookieMFM",
		"garpberrybakedautomatoMFM",
		"meatandgarpberrysandwichMFM",
		"pizzaMFM",
		"stuffedpepperMFM",
		"hqbreadMFM",
		"jelonbreadMFM",
		"tofurkeydinnerMFM",
		"bdaycakeMFM",
		"jelonbrownieMFM",
		"sugarcookieMFM",
		"toffeecookieMFM",
		"loadedbakedsweetpotatoMFM",
		"pinanasliceMFM",
		"pizzaslice",
		"toxictoptartMFM",
		"padthaiMFM",
		"caramelsquareMFM",
		"chocolate",
		"gingercookieMFM",
		"pumpkinpieMFM",
		"phoMFM",
		"sweetmeat"
	]
}