{
	"possibleOutput": [
    "applecrumble",
    "baconpancakes",
    "bakedpotato",
    "bakedsweetpotatoMFM",
    "bananacreampie",
    "beakseedbread",
    "beakseedtart",
    "bread",
    "breadokaracornMFM",
    "brineapple",
    "browniechocolateMFM",
    "browniejelonMFM",
    "bunsburgerMFM",
    "candiedcorn",
    "candyapple",
    "candyautomato",
    "carrotbread",
    "caramelsquareMFM",
    "chocolate",
    "chocolatecookieMFM",
    "chocolatecoveredbaconMFM",
    "chocolateliquorMFM",
    "chocolateliquordarkMFM",
    "chocolateliquorwhiteMFM",
    "cocoanibsMFM",
    "cookedalienmeat",
    "cookedbananaMFM",
    "cookedboltbulbMFM",
    "cookedcactiMFM",
    "cookedcoralcreepMFM",
    "cookedcornMFM",
    "cookeddiodiaMFM",
    "cookeddirturchinMFM",
    "cookedeelMFM",
    "cookedeggMFM",
    "cookedeggshootMFM",
    "cookedfish",
    "cookedflytrapMFMmeat",
    "cookedham",
    "cookedkelpMFM",
    "cookedoctopusMFM",
    "cookedpoultry",
    "cookedribmeat",
    "cookedsausageokaraMFM",
    "cookedshrimpMFM",
    "cookedshroomMFM",
	"cookedsquidMFM",
    "cookedtentacle",
	"cookedtomato",
	"cookedtunaMFM",
    "cookieraisinsoyMFM",
    "crackerplainMFM",
    "crunchyokaracarobolaMFM",
    "cupcakeplainMFM",
    "cupcakewhitechocolateMFM",
    "driedautomatoMFM",
    "driedtomatoMFM",
    "featherfood",
    "fishinabone",
    "fishpie",
    "fruitcakeholidayMFM",
    "garpberrystuffedautomatoMFM",
    "gingercookieMFM",
    "grahamcrackerMFM",
    "grilledasparagusMFM",
    "grilledonionMFM",
    "hardchocolatedarkMFM",
    "hardchocolateplainMFM",
    "hardchocolatewhiteMFM",
    "honeyglazedhamMFM",
    "hqbreadMFM",
    "jelonbreadMFM",
    "jeloncookieMFM",
    "marshmallowcoveredsweetpotatoMFM",
    "meatpie",
    "mushroombread",
    "mushroomquiche",
    "oculemonmeringue",
    "pasty",
    "padthaiMFM",
    "pieappleredMFM",
    "pieblackberryMFM",
    "pieblueberryMFM",
    "piebutterscotchcinnamonMFM",
    "piepumpkinMFM",
    "pieraspberryMFM",
    "pieshellMFM",
    "piestrawberryMFM",
    "pigsinablanketMFM",
    "pinanaMFM",
    "piodiaMFM",
    "pizza",
    "pizzaMFM",
    "popcornkernelsMFM",
    "poptarttoxictopMFM",
    "pussplumtart",
    "quichelorraine",
    "raisincookieMFM",
    "raisinsMFM",
    "ricecake",
    "roastedcarrot",
    "roastedcoffeebeansMFM",
    "roastedgarpberrysMFM",
    "roastedmushrooms",
    "roastedpeanutMFM",
    "roastedstripofpoultryMFM",
    "roastedsunflowerseedsMFM",
    "seafoodgratin",
    "smokedsalmonMFM",
    "sourcreamMFM",
    "spikycookies",
    "spookypie",
    "stickyribs",
    "stuffedautomato",
    "stuffeddirturchin",
    "stuffedbellpeppergreenMFM",
    "stuffedbellpepperorangeMFM",
    "stuffedbellpepperredMFM",
    "stuffedbellpepperyellowMFM",
    "stuffedtomato",
    "sweetmeat",
    "sweetpopcorn",
    "sugarcookieMFM",
    "toast",
    "toastedmarshmallowMFM",
    "toffeecookieMFM",
    "toffeeMFM",
    "tofurkeydinnerMFM",
    "toxictart",
    "unfinishedcakecarrotMFM",
    "unfinishedcakechocolateMFM",
    "unfinishedcakeplainMFM",
    "unfinishedcakespookyMFM",
	"unfinishedcakeappleanarchyMFM",
    "veggieburgerMFM",
	"waffleconeMFM"
	]
}