{
	"possibleOutput": [
		"applecrumble",
		"baconpancakes",
		"bakedsweetpotatoMFM",
		"bananacreampie",
		"beakseedbread",
		"beakseedtart",
		"bread",
		"brineapple",
		"candiedcorn",
		"candyapple",
		"candyautomato",
		"carrotbread",
		"cookedautomatoMFM",
		"cookedeelMFM",
		"cookedoctopusMFM",
		"cookedshrimpMFM",
		"caramelsquareMFM",
		"chocolate",
		"chocolatecookieMFM",
		"chocolatecoveredbaconMFM",
		"chocolateliquorMFM",
		"cocoabeansMFM",
		"cocoanibsMFM",
		"cookedbananaMFM",
		"cookedbannockMFM",
		"cookedboltbulbMFM",
		"cookedcactiMFM",
		"cookedcoralcreepMFM",
		"cookedcornMFM",
		"cookeddiodiaMFM",
		"cookeddirturchinMFM",
		"cookedeggMFM",
		"cookedeggshootMFM",
		"cookedflytrapMFMmeat",
		"cookedkelpMFM",
		"cookedshroomMFM",
		"cupcakeplainMFM",
		"driedautomatoMFM",
		"driedtomatoMFM",
		"featherfood",
		"fishinabone",
		"fishpie",
		"garpberrystuffedautomatoMFM",
		"gingercookieMFM",
		"grilledasparagusMFM",
		"grilledonionMFM",
		"hqbreadMFM",
		"jelonbreadMFM",
		"jelonbrownieMFM",
		"jeloncookieMFM",
		"marshmallowcoveredsweetpotatoMFM",
		"meatandgarpberrysandwichMFM",
		"meatpie",
		"mushroombread",
		"mushroomquiche",
		"oculemonmeringue",
		"pasty",
		"padthaiMFM",
		"phoMFM",
		"piepumpkinMFM",
		"pieshellMFM",
		"pinanaMFM",
		"pinanasliceMFM",
		"piodiaMFM",
		"pizza",
		"pizzaMFM",
		"pizzaslice",
		"popcornkernelsMFM",
		"pussplumtart",
		"quichelorraine",
		"raisinsMFM",
		"ricecake",
		"ricepudding",
		"roastedcoffeebeansMFM",
		"roastedgarpberrysMFM",
		"roastedpeanutMFM",
		"roastedstripofpoultryMFM",
		"seafoodgratin",
		"smokedsalmonMFM",
		"spikycookies",
		"spookypie",
		"stickyribs",
		"stuffedautomato",
		"stuffeddirturchin",
		"stuffedpepperMFM",
		"stuffedpepperorangeMFM",
		"stuffedpepperredMFM",
		"stuffedpepperyellowMFM",
		"stuffedtomato",
		"sweetmeat",
		"sweetpopcorn",
		"sugarcookieMFM",
		"toast",
		"toastedmarshmallowMFM",
		"toffeecookieMFM",
		"toffeeMFM",
		"tofurkeydinnerMFM",
		"toxictart",
		"toxictoptartMFM",
		"unfinishedcakecarrotMFM",
		"unfinishedcakechocolateMFM",
		"unfinishedcakeplainMFM",
		"unfinishedcakespookyMFM",
		"veggieburgerMFM"
	]
}