{
	"possibleOutput": [
    "blackberryjellyPBJ",
    "blueberryjellyPBJ",
    "bluefoodcolorMFM",
    "chocolateicingMFM",
    "chocolatepuddingMFM",
	"liquidmilk",
	"cookiedoughMFM",
    "cupcakebatterMFM",
    "darkchocolateMFM",
    "dragonfruitjuiceMFM",
    "eggnogMFM",
	"eggplantjuiceMFM",
    "foulcocktailMFM",
    "grapefruitjuiceMFM",
    "grapejellyPBJ",
    "grassy",
    "greenapplejuiceMFM",
	"halfandhalfMFM",
    "honeyMFM",
    "jelonjamMFM",
    "ketchupMFM",
    "lemonicingMFM",
    "lemonjuiceMFM",
    "limejuiceMFM",
    "mangojuiceMFM",
    "marshmallowMFM",
    "milk",
    "orangejuiceMFM",
    "peanutbutterPBJ",
	"pieshellMFM",
	"pizzadoughMFM",
    "plantsludgeMFM",
    "puddingMFM",
    "raspberryjellyPBJ",
    "redapplejuiceMFM",
    "redfoodcolorMFM",
    "sakeMFM",
    "soymilkMFM",
    "strawberryjellyPBJ",
    "toxictopjuiceMFM",
    "vanillaicingMFM",
    "whitechocolateMFM",
    "yellowfoodcolorMFM"
  ]
}