{
	"possibleOutput": [
    "dragonfruitjuiceMFM",
    "grapefruitjuiceMFM",
    "greenapplejuiceMFM",
    "lemonjuiceMFM",
    "limejuiceMFM",
    "mangojuiceMFM",
    "orangejuiceMFM",
    "redapplejuiceMFM",
    "milk",
    "toxictopjuiceMFM",
    "bluefoodcolorMFM",
    "grapejellyPBJ",
    "ketchupMFM",
    "redfoodcolorMFM",
    "yellowfoodcolorMFM",
    "honeyMFM",
    "sakeMFM",
    "marshmallowMFM",
    "grassy",
    "soymilkMFM",
    "blackberryjellyPBJ",
    "blueberryjellyPBJ",
    "jelonjamMFM",
    "peanutbutterPBJ",
    "raspberryjellyPBJ",
    "strawberryjellyPBJ",
    "chocolatepuddingMFM",
    "caleMFM",
    "bananagarpsaladMFM",
    "doughMFM",
    "chocolateicingMFM",
    "lemonicingMFM",
    "vanillaicingMFM",
    "foulcocktailMFM",
    "plantsludgeMFM",
    "darkchocolateMFM",
    "whitechocolateMFM",
    "nutritiousmushMFM",
    "puddingMFM",
    "eggnogMFM",
    "cupcakebatterMFM"
  ]
}