{
	"possibleOutput": [
		"2kbpotage",
		"alienfruitjam",
		"automatostew",
		"beakseedjam",
		"boiledalienfruitMFM",
		"boiledartichokeMFM",
		"boiledasparagusMFM",
		"boiledautomatoMFM",
		"boiledavesmingoMFM",
		"boiledbananaMFM",
		"boiledbeakseedMFM",
		"boiledbeetMFM",
		"boiledbellpeppergreenMFM",
		"boiledbellpepperorangeMFM",
		"boiledbellpepperredMFM",
		"boiledbellpepperyellowMFM",
		"boiledblueberriesMFM",
		"boiledboltbulbMFM",
		"boiledbonebooMFM",
		"boiledbroccoliMFM",
		"boiledbrusselsproutMFM",
		"boiledcarrotMFM",
		"boiledcauliflowerMFM",
		"boiledchiliMFM",
		"boiledcoralcreepMFM",
		"boiledcrystalplantMFM",
		"boiledcucumberMFM",
		"boiledcurrentcornMFM",
		"boileddiodiaMFM",
		"boileddirturchinMFM",
		"boileddragonfruitMFM",
		"boiledeggshootMFM",
		"boiledfeathercrownMFM",
		"boiledgarlicMFM",
		"boiledgingerMFM",
		"boiledgrapefruitMFM",
		"boiledgrapesMFM",
		"boiledgreenappleMFM",
		"boiledgreenbeansMFM",
		"boiledjalapenopepperMFM",
		"boiledkelpMFM",
		"boiledkiwiMFM",
		"boiledlemonMFM",
		"boiledlettuceMFM",
		"boiledlimeMFM",
		"boiledmangoMFM",
		"boiledmushroomMFM",
		"boiledneonmelonMFM",
		"boiledoculemonMFM",
		"boiledonionMFM",
		"boiledorangeMFM",
		"boiledparsnipMFM",
		"boiledpearlpeas",
		"boiledpineappleMFM",
		"boiledpotatoMFM",
		"boiledpussplumMFM",
		"boiledradishMFM",
		"boiledredappleMFM",
		"boiledreefpodMFM",
		"boiledrice",
		"boiledrutabagaMFM",
		"boiledsoybeansMFM",
		"boiledstrawberryMFM",
		"boiledsugarbeetMFM",
		"boiledsweetpotatoMFM",
		"boiledthornfruitMFM",
		"boiledtomatoMFM",
		"boiledtoxictopMFM",
		"boiledturnipMFM",
		"boiledwartweedMFM",
		"borschtMFM",
		"brothphoMFM",
		"condensedmilkMFM",
		"corncob",
		"cornsyrupMFM",
		"creamfillingbananaMFM",
		"creamfillingbasicMFM",
		"creamfillingcoconutMFM",
		"creamfillingoculemonMFM",
		"creamfillingspookyMFM",
		"curryriceMFM",
		"currytofuMFM",
		"feathercrownjam",
		"fishdumplings",
		"fishsoupMFM",
		"fishstew",
		"gumboMFM",
		"hardboiledeggMFM",
		"honeyglazeMFM",
		"hotchocolateMFM",
		"instantnoodlesMFM",
		"kiwijam",
		"liquidwater",
		"lollipopMFM",
		"macncheeseMFM",
		"mashedpotato",
		"meatdumplings",
		"meatstew",
		"mixfondantMFM",
		"mixproteinbarraspberrychocolateMFM",
		"mushroomsoupMFM",
		"oceanrisotto",
		"oculemonstew",
		"pastaautomatoMFM",
		"pastabananaMFM",
		"pastabutteredMFM",
		"pastaplainMFM",
		"pastatomatoMFM",
		"pearlpeabroth",
		"pearlpeajam",
		"pearlpearisotto",
		"pineapplejam",
		"porridge",
		"reefpodsurprise",
		"ricepudding",
		"saltMFM",
		"saucespaghettibalogneseMFM",
		"soggysack",
		"soupherbMFM",
		"souppumpkinMFM",
		"soupvoltboltMFM",
		"steamedlobsterMFM",
		"stewedapplesMFM",
		"stewmountainmanMFM",
		"stockvegetableMFM",
		"tamariMFM",
		"tofuMFM",
		"toxictopjam"
	]
}