{
	"possibleOutput": [
		"automatopastaMFM",
		"bananapastaMFM",
		"boiledartichokeMFM",
		"boiledbeetMFM",
		"boiledgreenbeansMFM",
		"boiledsoybeansMFM",
		"butteredpastaMFM",
		"condensedmilkMFM",
		"cornsyrupMFM",
		"fishsoupMFM",
		"freshpastaMFM",
		"macncheeseMFM",
		"mushroomsoupMFM",
		"porridge",
		"saltMFM",
		"tamariMSM",
		"tofucurryMFM",
		"tofuMFM",
		"tomatopastaMFM"
	]
}