{
	"possibleOutput": [
    "cannedautomatoMFM",
    "cannedbananaMFM",
    "cannedboltbulbMFM",
    "cannedcarrotMFM",
    "cannedcherryMFM",
    "cannedgreenappleMFM",
    "cannedpastaMFM",
    "cannedpearlpeaMFM",
    "cannedplantsludgeMFM",
    "cannedpotatoMFM",
    "cannedredappleMFM",
    "cannedstrawberryMFM",
    "cannedtomatoMFM"
  ]
}