{
  "recipesCraftFrom" : {
    "strawberryMFM" : [ "cannedstrawberryMFM" ],
    "cannedpotatoMFM" : [ "potato" ],
    "cannedcherryMFM" : [ "cherryMFM" ],
    "watermelonMFM" : [ "cannedwatermelonMFM" ],
    "greenapple" : [ "cannedgreenappleMFM" ],
    "rawfish" : [ "rawcannedfishMFM" ],
    "tomato" : [ "cannedtomatoMFM" ],
    "cannedboltbulbMFM" : [ "boltbulb" ],
    "cannedcarrotMFM" : [ "carrot" ],
    "cannedbananaMFM" : [ "banana" ],
    "rawcannedfishMFM" : [ "rawfish" ],
    "cannedtomatoMFM" : [ "tomato" ],
    "cannedredappleMFM" : [ "redapple" ],
    "potato" : [ "cannedpotatoMFM" ],
    "cherryMFM" : [ "cannedcherryMFM" ],
    "cannedautomatoMFM" : [ "automato" ],
    "plantsludgeMFM" : [ "cannedplantsludgeMFM" ],
    "pearlpea" : [ "cannedpearlpeaMFM" ],
    "cannedwatermelonMFM" : [ "watermelonMFM" ],
    "pastaplainMFM" : [ "cannedpastaMFM" ],
    "banana" : [ "cannedbananaMFM" ],
    "redapple" : [ "cannedredappleMFM" ],
    "cannedgreenappleMFM" : [ "greenapple" ],
    "cannedpastaMFM" : [ "pastaplainMFM" ],
    "cannedstrawberryMFM" : [ "strawberryMFM" ],
    "cannedpearlpeaMFM" : [ "pearlpea" ],
    "cannedbeakseedMFM" : [ "beakseed" ],
    "cannedgrapesMFM" : [ "grapes" ],
    "automato" : [ "cannedautomatoMFM" ],
    "cannedplantsludgeMFM" : [ "plantsludgeMFM" ],
    "beakseed" : [ "cannedbeakseedMFM" ],
    "boltbulb" : [ "cannedboltbulbMFM" ],
    "carrot" : [ "cannedcarrotMFM" ],
    "grapes" : [ "cannedgrapesMFM" ]
  },
  "recipesToCraft" : {
    "strawberryMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedstrawberryMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedpotatoMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "potato" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedcherryMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cherryMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "watermelonMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedwatermelonMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "greenapple" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedgreenappleMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "rawfish" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "rawcannedfishMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "tomato" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedtomatoMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedboltbulbMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "boltbulb" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedcarrotMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "carrot" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedbananaMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "banana" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedtomatoMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "tomato" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "rawcannedfishMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "rawfish" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedredappleMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "redapple" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cherryMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedcherryMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "potato" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedpotatoMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedautomatoMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "automato" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "plantsludgeMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedplantsludgeMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "pearlpea" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedpearlpeaMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedwatermelonMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "watermelonMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "banana" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedbananaMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "pastaplainMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedpastaMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "redapple" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedredappleMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedgreenappleMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "greenapple" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedpastaMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "pastaplainMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedstrawberryMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "strawberryMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedpearlpeaMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "pearlpea" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedbeakseedMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "beakseed" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedgrapesMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "grapes" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "automato" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedautomatoMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "cannedplantsludgeMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "plantsludgeMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "beakseed" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedbeakseedMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "boltbulb" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedboltbulbMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "grapes" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedgrapesMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ],
    "carrot" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cannedcarrotMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "canningMFM" ]
      }
    ]
  },
  "possibleOutput" : [ "cannedplantsludgeMFM", "beakseed", "cannedredappleMFM", "cannedpearlpeaMFM", "cannedboltbulbMFM", "boltbulb", "cannedtomatoMFM", "cherryMFM", "rawcannedfishMFM", "banana", "grapes", "carrot", "cannedwatermelonMFM", "potato", "cannedpastaMFM", "cannedstrawberryMFM", "plantsludgeMFM", "cannedcarrotMFM", "pastaplainMFM", "cannedbeakseedMFM", "rawfish", "strawberryMFM", "cannedbananaMFM", "automato", "redapple", "cannedgreenappleMFM", "tomato", "cannedpotatoMFM", "cannedgrapesMFM", "cannedautomatoMFM", "cannedcherryMFM", "watermelonMFM", "pearlpea", "greenapple" ]
}