{
	"possibleOutput": [
    "oatgrainsMFM",
    "slicedavocadoMSM",
    "slicedcucumberMFM",
    "sliceddragonfruitMFM",
    "slicedgrapefruitMFM",
    "slicedgreenappleMFM",
    "slicedlemonMFM",
    "slicedlimeMFM",
    "slicedmangoMFM",
    "slicedorangeMFM",
    "slicedredappleMFM",
    "mincedgarlicMFM",
    "gariMSM"
	]
}