{
	"possibleOutput": [
		"coconutchunksMFM",
		"gariMSM",
		"oatgrainsMFM",
		"pumpkinsliceMFM",
		"slicedavocadoMSM",
		"slicedcucumberMFM",
		"sliceddragonfruitMFM",
		"slicedeggplantMFM",
		"slicedgrapefruitMFM",
		"slicedgreenappleMFM",
		"slicedlemonMFM",
		"slicedlimeMFM",
		"slicedmangoMFM",
		"slicedneonmelonMFM",
		"slicedorangeMFM",
		"slicedredappleMFM",
		"slicedtoxictopMFM",
		"mincedgarlicMFM"
	]
}