{
  "recipesCraftFrom" : {
    "butterMFM" : [ "cheese" ],
    "milk" : [ "creamMFM" ],
    "creamMFM" : [ "butterMFM" ]
  },
  "recipesToCraft" : {
    "butterMFM" : {
      "displayMethods" : " (CHURN)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (CHURN)",
          "input" : { "creamMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "methods" : { "churningMFM" : "CHURN" }
    },
    "cheese" : {
      "displayMethods" : " (CHURN)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (CHURN)",
          "input" : { "butterMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "methods" : { "churningMFM" : "CHURN" }
    },
    "creamMFM" : {
      "displayMethods" : " (CHURN)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (CHURN)",
          "input" : { "milk" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "methods" : { "churningMFM" : "CHURN" }
    }
  },
  "possibleOutput" : [ "butterMFM", "cheese", "creamMFM" ]
}