{
  "recipesCraftFrom" : {
    "butterMFM" : [ "cheese" ],
    "milk" : [ "creamMFM" ],
    "creamMFM" : [ "butterMFM" ]
  },
  "recipesToCraft" : {
    "butterMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "creamMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "churningMFM" ]
      }
    ],
    "cheese" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "butterMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "sides", "churningMFM" ]
      }
    ],
    "creamMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "milk" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "churningMFM" ]
      }
    ]
  },
  "possibleOutput" : [ "butterMFM", "cheese", "creamMFM" ]
}