{
  "recipesCraftFrom" : {
    "butterMFM" : [ "cheese" ],
    "milk" : [ "creamMFM" ],
    "creamMFM" : [ "butterMFM" ]
  },
  "recipesToCraft" : {
    "butterMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "butterMFM",
            "count" : 1
          },
          "displayMethods" : " (CHURN)",
          "input" : {
            "creamMFM" : {
              "displayName" : "Cream",
              "count" : 1,
              "icon" : "creamMFM.png",
              "id" : "creamMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "displayName" : "Butter",
      "methods" : { "churningMFM" : "CHURN" },
      "displayNameWithMethods" : "Butter (CHURN)",
      "icon" : "butterMFM.png"
    },
    "cheese" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cheese",
            "count" : 1
          },
          "displayMethods" : " (CHURN)",
          "input" : {
            "butterMFM" : {
              "displayName" : "Butter",
              "count" : 1,
              "icon" : "butterMFM.png",
              "id" : "butterMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "displayName" : "Cheese",
      "methods" : { "churningMFM" : "CHURN" },
      "displayNameWithMethods" : "Cheese (CHURN)",
      "icon" : "cheese.png"
    },
    "creamMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "creamMFM",
            "count" : 5
          },
          "displayMethods" : " (CHURN)",
          "input" : {
            "milk" : {
              "displayName" : "Milk",
              "count" : 1,
              "icon" : "milk.png",
              "id" : "milk"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "churningMFM" : "CHURN" },
          "groups" : [ "churningMFM" ]
        }
      ],
      "displayName" : "Cream",
      "methods" : { "churningMFM" : "CHURN" },
      "displayNameWithMethods" : "Cream (CHURN)",
      "icon" : "creamMFM.png"
    }
  },
  "possibleOutput" : [ "butterMFM", "cheese", "creamMFM" ]
}