{
  "recipesCraftFrom" : {
    "groundcoffeeMFM" : [ "mocha", "flatwhite", "coffee" ],
    "chocolateliquorMFM" : [ "mocha" ],
    "coffee" : [ "mocha", "flatwhite" ],
    "milk" : [ "mocha", "flatwhite" ],
    "liquidwater" : [ "mocha", "flatwhite", "coffee" ],
    "flatwhite" : [ "mocha" ]
  },
  "recipesToCraft" : {
    "coffee" : {
      "displayMethods" : " (COFFEE)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : { "count" : 1.0 },
            "liquidwater" : { "count" : 2.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "methods" : { "coffeeMFM" : "COFFEE" }
    },
    "mocha" : {
      "displayMethods" : " (COFFEE)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "chocolateliquorMFM" : { "count" : 1.0 },
            "flatwhite" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "coffee" : { "count" : 1.0 },
            "chocolateliquorMFM" : { "count" : 1.0 },
            "milk" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : { "count" : 1.0 },
            "chocolateliquorMFM" : { "count" : 1.0 },
            "milk" : { "count" : 1.0 },
            "liquidwater" : { "count" : 2.0 }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "methods" : { "coffeeMFM" : "COFFEE" }
    },
    "flatwhite" : {
      "displayMethods" : " (COFFEE)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "coffee" : { "count" : 1.0 },
            "milk" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : { "count" : 1.0 },
            "milk" : { "count" : 1.0 },
            "liquidwater" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "methods" : { "coffeeMFM" : "COFFEE" }
    }
  },
  "possibleOutput" : [ "mocha", "flatwhite", "coffee" ]
}