{
  "recipesCraftFrom" : {
    "groundcoffeeMFM" : [ "mocha", "flatwhite", "coffee" ],
    "chocolateliquorMFM" : [ "mocha" ],
    "coffee" : [ "mocha", "flatwhite" ],
    "milk" : [ "mocha", "flatwhite" ],
    "liquidwater" : [ "mocha", "flatwhite", "coffee" ],
    "flatwhite" : [ "mocha" ]
  },
  "recipesToCraft" : {
    "coffee" : {
      "recipes" : [
        {
          "output" : {
            "name" : "coffee",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : {
              "displayName" : "Ground Coffee",
              "count" : 1,
              "icon" : "groundcoffeeMFM.png",
              "id" : "groundcoffeeMFM"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 2,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "displayName" : "Coffee",
      "methods" : { "coffeeMFM" : "COFFEE" },
      "displayNameWithMethods" : "Coffee (COFFEE)",
      "icon" : "coffee.png"
    },
    "mocha" : {
      "recipes" : [
        {
          "output" : {
            "name" : "mocha",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "chocolateliquorMFM" : {
              "displayName" : "Chocolate Liquor - Plain",
              "count" : 1,
              "icon" : "chocolateliquorplainMFMicon.png",
              "id" : "chocolateliquorMFM"
            },
            "flatwhite" : {
              "displayName" : "Flat White Coffee",
              "count" : 1,
              "icon" : "flatwhite.png",
              "id" : "flatwhite"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : {
            "name" : "mocha",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "coffee" : {
              "displayName" : "Coffee",
              "count" : 1,
              "icon" : "coffee.png",
              "id" : "coffee"
            },
            "chocolateliquorMFM" : {
              "displayName" : "Chocolate Liquor - Plain",
              "count" : 1,
              "icon" : "chocolateliquorplainMFMicon.png",
              "id" : "chocolateliquorMFM"
            },
            "milk" : {
              "displayName" : "Milk",
              "count" : 1,
              "icon" : "milk.png",
              "id" : "milk"
            }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : {
            "name" : "mocha",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : {
              "displayName" : "Ground Coffee",
              "count" : 1,
              "icon" : "groundcoffeeMFM.png",
              "id" : "groundcoffeeMFM"
            },
            "chocolateliquorMFM" : {
              "displayName" : "Chocolate Liquor - Plain",
              "count" : 1,
              "icon" : "chocolateliquorplainMFMicon.png",
              "id" : "chocolateliquorMFM"
            },
            "milk" : {
              "displayName" : "Milk",
              "count" : 1,
              "icon" : "milk.png",
              "id" : "milk"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 2,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "displayName" : "Mochaccino",
      "methods" : { "coffeeMFM" : "COFFEE" },
      "displayNameWithMethods" : "Mochaccino (COFFEE)",
      "icon" : "mocha.png"
    },
    "flatwhite" : {
      "recipes" : [
        {
          "output" : {
            "name" : "flatwhite",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "coffee" : {
              "displayName" : "Coffee",
              "count" : 1,
              "icon" : "coffee.png",
              "id" : "coffee"
            },
            "milk" : {
              "displayName" : "Milk",
              "count" : 1,
              "icon" : "milk.png",
              "id" : "milk"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        },
        {
          "output" : {
            "name" : "flatwhite",
            "count" : 1
          },
          "displayMethods" : " (COFFEE)",
          "input" : {
            "groundcoffeeMFM" : {
              "displayName" : "Ground Coffee",
              "count" : 1,
              "icon" : "groundcoffeeMFM.png",
              "id" : "groundcoffeeMFM"
            },
            "milk" : {
              "displayName" : "Milk",
              "count" : 1,
              "icon" : "milk.png",
              "id" : "milk"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 1,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : true,
          "methods" : { "coffeeMFM" : "COFFEE" },
          "groups" : [ "coffeeMFM" ]
        }
      ],
      "displayName" : "Flat White Coffee",
      "methods" : { "coffeeMFM" : "COFFEE" },
      "displayNameWithMethods" : "Flat White Coffee (COFFEE)",
      "icon" : "flatwhite.png"
    }
  },
  "possibleOutput" : [ "mocha", "flatwhite", "coffee" ]
}