{
  "recipesCraftFrom" : {
    "groundcoffeeMFM" : [ "mocha", "flatwhite", "coffee" ],
    "chocolateliquorMFM" : [ "mocha" ],
    "coffee" : [ "mocha", "flatwhite" ],
    "milk" : [ "mocha", "flatwhite" ],
    "liquidwater" : [ "mocha", "flatwhite", "coffee" ],
    "flatwhite" : [ "mocha" ]
  },
  "recipesToCraft" : {
    "coffee" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "groundcoffeeMFM" : { "count" : 1.0 },
          "liquidwater" : { "count" : 2.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "drinks", "coffee", "coffeeMFM" ]
      }
    ],
    "mocha" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "chocolateliquorMFM" : { "count" : 1.0 },
          "flatwhite" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "drinks", "coffeeMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "coffee" : { "count" : 1.0 },
          "chocolateliquorMFM" : { "count" : 1.0 },
          "milk" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : true,
        "groups" : [ "coffeeMFM", "ExcludeFromRecipeBook" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "groundcoffeeMFM" : { "count" : 1.0 },
          "chocolateliquorMFM" : { "count" : 1.0 },
          "milk" : { "count" : 1.0 },
          "liquidwater" : { "count" : 2.0 }
        },
        "excludeFromRecipeBook" : true,
        "groups" : [ "coffeeMFM", "ExcludeFromRecipeBook" ]
      }
    ],
    "flatwhite" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "coffee" : { "count" : 1.0 },
          "milk" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "drinks", "coffeeMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "groundcoffeeMFM" : { "count" : 1.0 },
          "milk" : { "count" : 1.0 },
          "liquidwater" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : true,
        "groups" : [ "coffeeMFM", "ExcludeFromRecipeBook" ]
      }
    ]
  },
  "possibleOutput" : [ "mocha", "flatwhite", "coffee" ]
}