{
  "recipesCraftFrom" : {
    "greenapplejuiceMFM" : [ "greenappleciderMFM" ],
    "corn" : [ "cornbeerMFM" ],
    "choppedpussplumMFM" : [ "cyanider" ],
    "redapplejuiceMFM" : [ "appleciderMFM" ],
    "toxictop" : [ "sourswillMFM" ],
    "yeastMFM" : [ "aleMFM", "vinegarMFM" ],
    "foulcocktailMFM" : [ "bioethanolMFM" ],
    "sugarcanejuiceMFM" : [ "vinegarMFM" ],
    "cannedplantsludgeMFM" : [ "biodieselMFM" ],
    "potato" : [ "vodkabottleMFM" ],
    "cornbeerMFM" : [ "vodkabottleMFM" ],
    "choppedoculemonMFM" : [ "cyanider" ],
    "wheat" : [ "wheatbeerMFM" ],
    "liquidwater" : [ "cyanider", "wheatbeerMFM", "sourswillMFM", "vodkabottleMFM", "cornbeerMFM" ],
    "sugar" : [ "aleMFM", "cyanider" ]
  },
  "recipesToCraft" : {
    "appleciderMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : { "redapplejuiceMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "cyanider" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "choppedpussplumMFM" : { "count" : 3.0 },
            "choppedoculemonMFM" : { "count" : 3.0 },
            "liquidwater" : { "count" : 2.0 },
            "sugar" : { "count" : 4.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "wheatbeerMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "wheat" : { "count" : 2.0 },
            "liquidwater" : { "count" : 3.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "biodieselMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (DISTILL)",
          "input" : { "cannedplantsludgeMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "greenappleciderMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : { "greenapplejuiceMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "sourswillMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "toxictop" : { "count" : 2.0 },
            "liquidwater" : { "count" : 3.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "vinegarMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "yeastMFM" : { "count" : 1.0 },
            "sugarcanejuiceMFM" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "cornbeerMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "corn" : { "count" : 2.0 },
            "liquidwater" : { "count" : 3.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "vodkabottleMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "cornbeerMFM" : { "count" : 1.0 },
            "liquidwater" : { "count" : 3.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "potato" : { "count" : 2.0 },
            "liquidwater" : { "count" : 6.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "aleMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "yeastMFM" : { "count" : 1.0 },
            "sugar" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    },
    "bioethanolMFM" : {
      "displayMethods" : " (DISTILL)",
      "recipes" : [
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (DISTILL)",
          "input" : { "foulcocktailMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" }
    }
  },
  "possibleOutput" : [ "aleMFM", "appleciderMFM", "cyanider", "wheatbeerMFM", "vinegarMFM", "biodieselMFM", "greenappleciderMFM", "sourswillMFM", "vodkabottleMFM", "bioethanolMFM", "cornbeerMFM" ]
}