{
  "recipesCraftFrom" : {
    "greenapplejuiceMFM" : [ "greenappleciderMFM" ],
    "corn" : [ "cornbeerMFM" ],
    "choppedpussplumMFM" : [ "cyanider" ],
    "redapplejuiceMFM" : [ "appleciderMFM" ],
    "toxictop" : [ "sourswillMFM" ],
    "yeastMFM" : [ "aleMFM", "vinegarMFM" ],
    "foulcocktailMFM" : [ "bioethanolMFM" ],
    "sugarcanejuiceMFM" : [ "vinegarMFM" ],
    "cannedplantsludgeMFM" : [ "biodieselMFM" ],
    "potato" : [ "vodkabottleMFM" ],
    "cornbeerMFM" : [ "vodkabottleMFM" ],
    "choppedoculemonMFM" : [ "cyanider" ],
    "wheat" : [ "wheatbeerMFM" ],
    "liquidwater" : [ "cyanider", "wheatbeerMFM", "sourswillMFM", "vodkabottleMFM", "cornbeerMFM" ],
    "sugar" : [ "aleMFM", "cyanider" ]
  },
  "recipesToCraft" : {
    "appleciderMFM" : [
      {
        "in" : { "redapplejuiceMFM" : 1.0 },
        "out" : 1.0
      }
    ],
    "cyanider" : [
      {
        "in" : {
          "choppedpussplumMFM" : 3.0,
          "choppedoculemonMFM" : 3.0,
          "liquidwater" : 2.0,
          "sugar" : 4.0
        },
        "out" : 1.0
      }
    ],
    "wheatbeerMFM" : [
      {
        "in" : {
          "wheat" : 2.0,
          "liquidwater" : 3.0
        },
        "out" : 1.0
      }
    ],
    "biodieselMFM" : [
      {
        "in" : { "cannedplantsludgeMFM" : 1.0 },
        "out" : 5.0
      }
    ],
    "greenappleciderMFM" : [
      {
        "in" : { "greenapplejuiceMFM" : 1.0 },
        "out" : 1.0
      }
    ],
    "sourswillMFM" : [
      {
        "in" : {
          "toxictop" : 2.0,
          "liquidwater" : 3.0
        },
        "out" : 3.0
      }
    ],
    "vinegarMFM" : [
      {
        "in" : {
          "yeastMFM" : 1.0,
          "sugarcanejuiceMFM" : 1.0
        },
        "out" : 3.0
      }
    ],
    "cornbeerMFM" : [
      {
        "in" : {
          "corn" : 2.0,
          "liquidwater" : 3.0
        },
        "out" : 3.0
      }
    ],
    "vodkabottleMFM" : [
      {
        "in" : {
          "cornbeerMFM" : 1.0,
          "liquidwater" : 3.0
        },
        "out" : 1.0
      },
      {
        "in" : {
          "potato" : 2.0,
          "liquidwater" : 6.0
        },
        "out" : 1.0
      }
    ],
    "aleMFM" : [
      {
        "in" : {
          "yeastMFM" : 1.0,
          "sugar" : 1.0
        },
        "out" : 1.0
      }
    ],
    "bioethanolMFM" : [
      {
        "in" : { "foulcocktailMFM" : 1.0 },
        "out" : 3.0
      }
    ]
  },
  "possibleOutput" : [ "aleMFM", "appleciderMFM", "cyanider", "wheatbeerMFM", "vinegarMFM", "biodieselMFM", "greenappleciderMFM", "sourswillMFM", "vodkabottleMFM", "bioethanolMFM", "cornbeerMFM" ]
}