{
  "recipesCraftFrom" : {
    "greenapplejuiceMFM" : [ "greenappleciderMFM" ],
    "corn" : [ "cornbeerMFM" ],
    "choppedpussplumMFM" : [ "cyanider" ],
    "redapplejuiceMFM" : [ "appleciderMFM" ],
    "toxictop" : [ "sourswillMFM" ],
    "yeastMFM" : [ "aleMFM", "vinegarMFM" ],
    "foulcocktailMFM" : [ "bioethanolMFM" ],
    "sugarcanejuiceMFM" : [ "vinegarMFM" ],
    "cannedplantsludgeMFM" : [ "biodieselMFM" ],
    "potato" : [ "vodkabottleMFM" ],
    "cornbeerMFM" : [ "vodkabottleMFM" ],
    "choppedoculemonMFM" : [ "cyanider" ],
    "wheat" : [ "wheatbeerMFM" ],
    "liquidwater" : [ "cyanider", "wheatbeerMFM", "sourswillMFM", "vodkabottleMFM", "cornbeerMFM" ],
    "sugar" : [ "aleMFM", "cyanider" ]
  },
  "recipesToCraft" : {
    "appleciderMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "appleciderMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "redapplejuiceMFM" : {
              "displayName" : "Juice - Red Apple",
              "count" : 1,
              "icon" : "redapplejuiceMFM.png",
              "id" : "redapplejuiceMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Cider - Red Apple (DISTILL)",
      "icon" : "appleciderMFM.png"
    },
    "cyanider" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cyanider",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "choppedpussplumMFM" : {
              "displayName" : "Chopped Pussplum",
              "count" : 3,
              "icon" : "choppedpussplumMFM.png",
              "id" : "choppedpussplumMFM"
            },
            "choppedoculemonMFM" : {
              "displayName" : "Chopped Oculemon",
              "count" : 3,
              "icon" : "choppedoculemonMFM.png",
              "id" : "choppedoculemonMFM"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 2,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            },
            "sugar" : {
              "displayName" : "Sugar",
              "count" : 4,
              "icon" : "sugar.png",
              "id" : "sugar"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Cyanider (DISTILL)",
      "icon" : "cyanider.png"
    },
    "wheatbeerMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "wheatbeerMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "wheat" : {
              "displayName" : "Wheat",
              "count" : 2,
              "icon" : "wheat.png",
              "id" : "wheat"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 3,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Alcohol - Wheat Beer (DISTILL)",
      "icon" : "wheatbeerMFM.png"
    },
    "biodieselMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "biodieselMFM",
            "count" : 5
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "cannedplantsludgeMFM" : {
              "displayName" : "Canned - Plant Sludge",
              "count" : 1,
              "icon" : "cannedplantsludgeMFM.png",
              "id" : "cannedplantsludgeMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Bio-diesel (DISTILL)",
      "icon" : "biodieselMFM.png"
    },
    "greenappleciderMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "greenappleciderMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "greenapplejuiceMFM" : {
              "displayName" : "Juice - Green Apple",
              "count" : 1,
              "icon" : "greenapplejuiceMFM.png",
              "id" : "greenapplejuiceMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Cider - Green Apple (DISTILL)",
      "icon" : "greenappleciderMFM.png"
    },
    "sourswillMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "sourswillMFM",
            "count" : 3
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "toxictop" : {
              "displayName" : "Toxictop",
              "count" : 2,
              "icon" : "toxictop.png",
              "id" : "toxictop"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 3,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Alcohol - Sour Swill (DISTILL)",
      "icon" : "sourswillMFM.png"
    },
    "vinegarMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "vinegarMFM",
            "count" : 3
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "yeastMFM" : {
              "displayName" : "Yeast",
              "count" : 1,
              "icon" : "yeastMFM.png",
              "id" : "yeastMFM"
            },
            "sugarcanejuiceMFM" : {
              "displayName" : "Juice - Sugarcane",
              "count" : 1,
              "icon" : "sugarcanejuiceMFM.png",
              "id" : "sugarcanejuiceMFM"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Vinegar (DISTILL)",
      "icon" : "vinegarMFM.png"
    },
    "cornbeerMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cornbeerMFM",
            "count" : 3
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "corn" : {
              "displayName" : "Corn",
              "count" : 2,
              "icon" : "cornicon.png",
              "id" : "corn"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 3,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Alcohol - Corn Beer (DISTILL)",
      "icon" : "cornbeerMFM.png"
    },
    "vodkabottleMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "vodkabottleMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "cornbeerMFM" : {
              "displayName" : "Alcohol - Corn Beer",
              "count" : 1,
              "icon" : "cornbeerMFM.png",
              "id" : "cornbeerMFM"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 3,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        },
        {
          "output" : {
            "name" : "vodkabottleMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "potato" : {
              "displayName" : "Potato",
              "count" : 2,
              "icon" : "potatoicon.png",
              "id" : "potato"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 6,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Alcohol - Vodka (DISTILL)",
      "icon" : "vodkabottleMFM.png"
    },
    "aleMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "aleMFM",
            "count" : 1
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "yeastMFM" : {
              "displayName" : "Yeast",
              "count" : 1,
              "icon" : "yeastMFM.png",
              "id" : "yeastMFM"
            },
            "sugar" : {
              "displayName" : "Sugar",
              "count" : 1,
              "icon" : "sugar.png",
              "id" : "sugar"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Alcohol - Ale (DISTILL)",
      "icon" : "aleMFM.png"
    },
    "bioethanolMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "bioethanolMFM",
            "count" : 3
          },
          "displayMethods" : " (DISTILL)",
          "input" : {
            "foulcocktailMFM" : {
              "displayName" : "Alcohol - Foul Cocktail",
              "count" : 1,
              "icon" : "foulcocktailMFM.png",
              "id" : "foulcocktailMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "distillingMFM" : "DISTILL" },
          "groups" : [ "distillingMFM" ]
        }
      ],
      "methods" : { "distillingMFM" : "DISTILL" },
      "displayName" : "Bioethanol (DISTILL)",
      "icon" : "bioethanolMFM.png"
    }
  },
  "possibleOutput" : [ "aleMFM", "appleciderMFM", "cyanider", "wheatbeerMFM", "vinegarMFM", "biodieselMFM", "greenappleciderMFM", "sourswillMFM", "vodkabottleMFM", "bioethanolMFM", "cornbeerMFM" ]
}