{
  "recipesCraftFrom" : {
    "mixproteinbarraspberrychocolateMFM" : [ "proteinbarraspberrychocolateMFM" ],
    "egg" : [ "icecreamvanillaMFM" ],
    "ice" : [ "snowcone" ],
    "yellowfoodcolorMFM" : [ "snowconeyellowMFM" ],
    "vanillaextractMFM" : [ "icecreamvanillaMFM" ],
    "bananajuiceMFM" : [ "icecreambananaMFM" ],
    "chocolateliquordarkMFM" : [ "icecreamchocolateswirlMFM" ],
    "cactusjuice" : [ "icecreamcactiMFM" ],
    "chocolateliquorwhiteMFM" : [ "icecreamchocolateswirlMFM" ],
    "slush" : [ "ice" ],
    "liquidmilk" : [ "icecreamcoconutMFM" ],
    "bonbons" : [ "bonbonbonbons" ],
    "juiceeggshootMFM" : [ "icecreameggshootMFM" ],
    "liquidwater" : [ "ice" ],
    "snowcone" : [ "snowconeblueMFM", "snowconeyellowMFM", "snowconeredMFM" ],
    "banana" : [ "bananasplit" ],
    "icecreamvanillaMFM" : [ "icecreamcactiMFM", "icecreamgarpberryMFM", "bananasplit", "icecreamchocolateMFM", "avesmingoicecream", "icecreamcoconutMFM", "icecreameggshootMFM", "icecreambananaMFM", "icecreamchocolateswirlMFM", "icecreamvanillachocolatechipMFM" ],
    "fondantMFM" : [ "bonbonbonbons", "bonbons" ],
    "chocolateliquorMFM" : [ "bananasplit", "icecreamchocolateMFM", "icecreamchocolateswirlMFM" ],
    "milk" : [ "icecreamvanillaMFM" ],
    "redfoodcolorMFM" : [ "snowconeredMFM" ],
    "creamMFM" : [ "icecreamvanillaMFM" ],
    "garpberryjuiceMFM" : [ "icecreamgarpberryMFM" ],
    "choppedstrawberryMFM" : [ "bananasplit" ],
    "snow" : [ "ice" ],
    "bluefoodcolorMFM" : [ "snowconeblueMFM" ],
    "avesmingojuice" : [ "avesmingoicecream" ],
    "sugar" : [ "icecreamvanillaMFM" ],
    "chocolatechipsMFM" : [ "icecreamvanillachocolatechipMFM" ]
  },
  "recipesToCraft" : {
    "snowconeblueMFM" : [
      {
        "in" : {
          "bluefoodcolorMFM" : 3.0,
          "snowcone" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreambananaMFM" : [
      {
        "in" : {
          "bananajuiceMFM" : 1.0,
          "icecreamvanillaMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "bananasplit" : [
      {
        "in" : {
          "banana" : 1.0,
          "icecreamvanillaMFM" : 1.0,
          "choppedstrawberryMFM" : 1.0,
          "chocolateliquorMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreamvanillaMFM" : [
      {
        "in" : {
          "vanillaextractMFM" : 1.0,
          "egg" : 2.0,
          "milk" : 1.0,
          "sugar" : 1.0,
          "creamMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 5.0
      }
    ],
    "proteinbarraspberrychocolateMFM" : [
      {
        "in" : { "mixproteinbarraspberrychocolateMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 5.0
      }
    ],
    "icecreamchocolateswirlMFM" : [
      {
        "in" : {
          "chocolateliquordarkMFM" : 1.0,
          "chocolateliquorwhiteMFM" : 1.0,
          "icecreamvanillaMFM" : 1.0,
          "chocolateliquorMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 5.0
      }
    ],
    "icecreamcactiMFM" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "cactusjuice" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "ice" : [
      {
        "in" : { "liquidwater" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "slush" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "snow" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreamchocolateMFM" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "chocolateliquorMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "snowconeyellowMFM" : [
      {
        "in" : {
          "snowcone" : 1.0,
          "yellowfoodcolorMFM" : 3.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreameggshootMFM" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "juiceeggshootMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreamvanillachocolatechipMFM" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "chocolatechipsMFM" : 2.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "bonbonbonbons" : [
      {
        "in" : {
          "fondantMFM" : 1.0,
          "bonbons" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "avesmingoicecream" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "avesmingojuice" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "bonbons" : [
      {
        "in" : { "fondantMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "snowcone" : [
      {
        "in" : { "ice" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "snowconeredMFM" : [
      {
        "in" : {
          "snowcone" : 1.0,
          "redfoodcolorMFM" : 3.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreamcoconutMFM" : [
      {
        "in" : {
          "icecreamvanillaMFM" : 1.0,
          "liquidmilk" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "icecreamgarpberryMFM" : [
      {
        "in" : {
          "garpberryjuiceMFM" : 1.0,
          "icecreamvanillaMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ]
  },
  "possibleOutput" : [ "icecreamcactiMFM", "icecreamgarpberryMFM", "bananasplit", "icecreamchocolateMFM", "icecreamvanillaMFM", "avesmingoicecream", "icecreamcoconutMFM", "bonbonbonbons", "icecreameggshootMFM", "ice", "bonbons", "snowconeblueMFM", "proteinbarraspberrychocolateMFM", "snowconeyellowMFM", "snowconeredMFM", "snowcone", "icecreambananaMFM", "icecreamchocolateswirlMFM", "icecreamvanillachocolatechipMFM" ]
}