{
  "recipesCraftFrom" : {
    "mixproteinbarraspberrychocolateMFM" : [ "proteinbarraspberrychocolateMFM" ],
    "egg" : [ "icecreamvanillaMFM" ],
    "ice" : [ "snowcone" ],
    "yellowfoodcolorMFM" : [ "snowconeyellowMFM" ],
    "vanillaextractMFM" : [ "icecreamvanillaMFM" ],
    "bananajuiceMFM" : [ "icecreambananaMFM" ],
    "chocolateliquordarkMFM" : [ "icecreamchocolateswirlMFM" ],
    "cactusjuice" : [ "icecreamcactiMFM" ],
    "chocolateliquorwhiteMFM" : [ "icecreamchocolateswirlMFM" ],
    "slush" : [ "ice" ],
    "liquidmilk" : [ "icecreamcoconutMFM" ],
    "bonbons" : [ "bonbonbonbons" ],
    "juiceeggshootMFM" : [ "icecreameggshootMFM" ],
    "liquidwater" : [ "ice" ],
    "snowcone" : [ "snowconeblueMFM", "snowconeyellowMFM", "snowconeredMFM" ],
    "banana" : [ "bananasplit" ],
    "icecreamvanillaMFM" : [ "icecreamcactiMFM", "icecreamgarpberryMFM", "bananasplit", "icecreamchocolateMFM", "avesmingoicecream", "icecreamcoconutMFM", "icecreameggshootMFM", "icecreambananaMFM", "icecreamchocolateswirlMFM", "icecreamvanillachocolatechipMFM" ],
    "fondantMFM" : [ "bonbonbonbons", "bonbons" ],
    "chocolateliquorMFM" : [ "bananasplit", "icecreamchocolateMFM", "icecreamchocolateswirlMFM" ],
    "milk" : [ "icecreamvanillaMFM" ],
    "redfoodcolorMFM" : [ "snowconeredMFM" ],
    "creamMFM" : [ "icecreamvanillaMFM" ],
    "garpberryjuiceMFM" : [ "icecreamgarpberryMFM" ],
    "choppedstrawberryMFM" : [ "bananasplit" ],
    "snow" : [ "ice" ],
    "bluefoodcolorMFM" : [ "snowconeblueMFM" ],
    "avesmingojuice" : [ "avesmingoicecream" ],
    "sugar" : [ "icecreamvanillaMFM" ],
    "chocolatechipsMFM" : [ "icecreamvanillachocolatechipMFM" ]
  },
  "recipesToCraft" : {
    "snowconeblueMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "bluefoodcolorMFM" : { "count" : 3.0 },
          "snowcone" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreambananaMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "bananajuiceMFM" : { "count" : 1.0 },
          "icecreamvanillaMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "bananasplit" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "banana" : { "count" : 1.0 },
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "choppedstrawberryMFM" : { "count" : 1.0 },
          "chocolateliquorMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "desserts", "freezingMFM" ]
      }
    ],
    "icecreamvanillaMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : {
          "vanillaextractMFM" : { "count" : 1.0 },
          "egg" : { "count" : 2.0 },
          "milk" : { "count" : 1.0 },
          "sugar" : { "count" : 1.0 },
          "creamMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "proteinbarraspberrychocolateMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "mixproteinbarraspberrychocolateMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamchocolateswirlMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : {
          "chocolateliquordarkMFM" : { "count" : 1.0 },
          "chocolateliquorwhiteMFM" : { "count" : 1.0 },
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "chocolateliquorMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamcactiMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "cactusjuice" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "ice" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "liquidwater" : { "count" : 2.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "slush" : { "count" : 2.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "snow" : { "count" : 2.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamchocolateMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "chocolateliquorMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "snowconeyellowMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "snowcone" : { "count" : 1.0 },
          "yellowfoodcolorMFM" : { "count" : 3.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreameggshootMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "juiceeggshootMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamvanillachocolatechipMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "chocolatechipsMFM" : { "count" : 2.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "bonbonbonbons" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "fondantMFM" : { "count" : 1.0 },
          "bonbons" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "desserts", "freezingMFM" ]
      }
    ],
    "avesmingoicecream" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "avesmingojuice" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "desserts", "freezingMFM" ]
      }
    ],
    "bonbons" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "fondantMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "desserts", "freezingMFM" ]
      }
    ],
    "snowcone" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "ice" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "craftingfood", "desserts", "freezingMFM" ]
      }
    ],
    "snowconeredMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "snowcone" : { "count" : 1.0 },
          "redfoodcolorMFM" : { "count" : 3.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamcoconutMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "icecreamvanillaMFM" : { "count" : 1.0 },
          "liquidmilk" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ],
    "icecreamgarpberryMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : {
          "garpberryjuiceMFM" : { "count" : 1.0 },
          "icecreamvanillaMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "freezingMFM" ]
      }
    ]
  },
  "possibleOutput" : [ "icecreamcactiMFM", "icecreamgarpberryMFM", "bananasplit", "icecreamchocolateMFM", "icecreamvanillaMFM", "avesmingoicecream", "icecreamcoconutMFM", "bonbonbonbons", "icecreameggshootMFM", "ice", "bonbons", "snowconeblueMFM", "proteinbarraspberrychocolateMFM", "snowconeyellowMFM", "snowconeredMFM", "snowcone", "icecreambananaMFM", "icecreamchocolateswirlMFM", "icecreamvanillachocolatechipMFM" ]
}