{
	"possibleOutput": [
    "bonbons",
    "ice",
    "icecreambananaMFM",
    "icecreamcactiMFM",
    "icecreamcoconutMFM",
    "icecreamgarpberryMFM",
    "icecreamchocolateMFM",
    "icecreamchocolateswirlMFM",
    "icecreamvanillachocolatechipMFM",
    "icecreamvanillaMFM",
	"proteinbarraspberrychocolateMFM",
    "snowcone",
    "snowconeblueMFM",
    "snowconeredMFM",
    "snowconeyellowMFM"
	]
}