{
  "recipesCraftFrom" : {
    "egg" : [ "tofufriedriceMFM", "tamagoyakiMFM", "scrambledeggMFM", "frenchtoastMFM", "friedeggMFM", "shrimptempuraMFM", "mushroomrice" ],
    "batterdessertMFM" : [ "basecrepeMFM" ],
    "doughMFM" : [ "donutplainMFM", "donutplainchocolateMFM", "donutplainspookyMFM", "wafflesMFM" ],
    "choppedpotatoMFM" : [ "hashbrownspotatoMFM" ],
    "unfinishedsoyburgersupremeMFM" : [ "cookedsoyburgersupremepattyMFM" ],
    "vanillaextractMFM" : [ "caramelMFM" ],
    "choppedbellpeppergreenMFM" : [ "mushroomrice" ],
    "peaMFM" : [ "steamedpeasMFM" ],
    "tofuMFM" : [ "tofufriedriceMFM" ],
    "shroom" : [ "friedshroomMFM" ],
    "popcornkernelsMFM" : [ "freshpopcornMFM" ],
    "rawbacon" : [ "cookedbacon" ],
    "cookedeggMFM" : [ "sunnysideupMFM" ],
    "banana" : [ "friedbananaMFM" ],
    "mashedpotato" : [ "potatogrids" ],
    "choppedmushroomMFM" : [ "mushroomrice" ],
    "saltMFM" : [ "frenchfriesMFM", "sweetpotatofriesMFM", "caramelMFM", "tamagoyakiMFM", "scrambledeggMFM", "mushroomrice" ],
    "cauliflowerMFM" : [ "steamedcauliflowerMFM" ],
    "milk" : [ "scrambledeggMFM", "frenchtoastMFM" ],
    "cornsyrupMFM" : [ "shrimptempuraMFM" ],
    "rawfishfingersMFM" : [ "fishfingers" ],
    "mixomelettebachmuMFM" : [ "omelette" ],
    "toast" : [ "sunnysideupMFM" ],
    "broccoliMFM" : [ "steamedbroccoliMFM" ],
    "choppedsweetpotatoMFM" : [ "hashbrownssweetpotatoMFM" ],
    "cookingoilMFM" : [ "fishfingers", "fluffyruffs", "cookedalienmeatpattyMFM", "potatogrids", "friedshroomMFM", "batteredbanana", "pearlpeapancakes", "burningeyeballs", "apexfritter", "chipspotatoMFM", "friedfishMFM", "tamagoyakiMFM", "pancakesplainMFM", "cookedsoyburgersupremepattyMFM", "donutplainMFM", "omelette", "friedchickenMFM", "friedeggMFM", "corndogsteakandpoultryMFM", "shrimptempuraMFM", "donutplainchocolateMFM", "donutplainspookyMFM", "mushroomrice", "freshpopcornMFM", "friedgarpberrysMFM" ],
    "rawsausagealienpoultryMFM" : [ "cookedsausagealienpoultryMFM", "corndogsteakandpoultryMFM" ],
    "breadcrumbsMFM" : [ "corndogsteakandpoultryMFM", "shrimptempuraMFM" ],
    "rawapexfritterMFM" : [ "apexfritter" ],
    "cheesesliceMFM" : [ "sandwichgrilledcheeseMFM" ],
    "sugar" : [ "caramelMFM", "tamagoyakiMFM" ],
    "unfinishedbatteredbananaMFM" : [ "batteredbanana" ],
    "garpberryMFM" : [ "friedgarpberrysMFM" ],
    "rawbannockMFM" : [ "cookedbannockMFM" ],
    "tamariMFM" : [ "tamagoyakiMFM" ],
    "sunflowerMFMseed" : [ "cookedsoyburgersupremepattyMFM" ],
    "halfandhalfMFM" : [ "caramelMFM" ],
    "rawstripofpoultryMFM" : [ "friedchickenMFM" ],
    "cocoapowderMFM" : [ "chocolatefrenchtoastMFM", "donutplainchocolateMFM" ],
    "frenchtoastMFM" : [ "chocolatefrenchtoastMFM", "cinnamonfrenchtoastMFM" ],
    "potato" : [ "frenchfriesMFM" ],
    "choppedbonebooMFM" : [ "donutplainspookyMFM" ],
    "groundcinnamonMFM" : [ "cinnamonfrenchtoastMFM" ],
    "portobellomushroomMFM" : [ "friedshroomMFM" ],
    "rawshrimpMFM" : [ "shrimptempuraMFM" ],
    "liquidwater" : [ "steamedbroccoliMFM", "steamedcauliflowerMFM", "shrimptempuraMFM", "steamedpeasMFM" ],
    "unfinishedbatteredfishMFM" : [ "friedfishMFM" ],
    "pearlpea" : [ "pearlpeapancakes" ],
    "breadsliceMFM" : [ "sandwichgrilledcheeseMFM" ],
    "bread" : [ "frenchtoastMFM" ],
    "eggybreadMFM" : [ "fluffyruffs" ],
    "rice" : [ "tofufriedriceMFM" ],
    "choppedbellpepperredMFM" : [ "mushroomrice" ],
    "butterMFM" : [ "hashbrownspotatoMFM", "caramelMFM", "basecrepeMFM", "sandwichgrilledcheeseMFM", "hashbrownssweetpotatoMFM" ],
    "mixpancakeplainMFM" : [ "pearlpeapancakes", "pancakesplainMFM" ],
    "choppedchiliMFM" : [ "burningeyeballs" ],
    "rawmeatpattyMFM" : [ "cookedalienmeatpattyMFM" ],
    "choppedoculemonMFM" : [ "burningeyeballs" ],
    "rawchipspotatoMFM" : [ "chipspotatoMFM" ],
    "boiledrice" : [ "mushroomrice" ],
    "sweetpotatoMFM" : [ "sweetpotatofriesMFM" ]
  },
  "recipesToCraft" : {
    "friedgarpberrysMFM" : [
      {
        "in" : {
          "garpberryMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "omelette" : [
      {
        "in" : {
          "mixomelettebachmuMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "cookedbacon" : [
      {
        "in" : { "rawbacon" : 1.0 },
        "out" : 1.0
      }
    ],
    "pearlpeapancakes" : [
      {
        "in" : {
          "mixpancakeplainMFM" : 1.0,
          "cookingoilMFM" : 1.0,
          "pearlpea" : 2.0
        },
        "out" : 1.0
      }
    ],
    "basecrepeMFM" : [
      {
        "in" : {
          "butterMFM" : 1.0,
          "batterdessertMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "fishfingers" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "rawfishfingersMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "wafflesMFM" : [
      {
        "in" : { "doughMFM" : 2.0 },
        "out" : 1.0
      }
    ],
    "steamedbroccoliMFM" : [
      {
        "in" : {
          "broccoliMFM" : 2.0,
          "liquidwater" : 1.0
        },
        "out" : 1.0
      }
    ],
    "caramelMFM" : [
      {
        "in" : {
          "butterMFM" : 1.0,
          "vanillaextractMFM" : 1.0,
          "saltMFM" : 1.0,
          "halfandhalfMFM" : 1.0,
          "sugar" : 2.0
        },
        "out" : 1.0
      }
    ],
    "frenchtoastMFM" : [
      {
        "in" : {
          "bread" : 1.0,
          "egg" : 1.0,
          "milk" : 1.0
        },
        "out" : 1.0
      }
    ],
    "hashbrownspotatoMFM" : [
      {
        "in" : {
          "butterMFM" : 1.0,
          "choppedpotatoMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "donutplainspookyMFM" : [
      {
        "in" : {
          "doughMFM" : 1.0,
          "choppedbonebooMFM" : 2.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "batteredbanana" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "unfinishedbatteredbananaMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "sandwichgrilledcheeseMFM" : [
      {
        "in" : {
          "butterMFM" : 1.0,
          "cheesesliceMFM" : 1.0,
          "breadsliceMFM" : 2.0
        },
        "out" : 1.0
      }
    ],
    "donutplainchocolateMFM" : [
      {
        "in" : {
          "cocoapowderMFM" : 2.0,
          "doughMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "mushroomrice" : [
      {
        "in" : {
          "choppedmushroomMFM" : 2.0,
          "choppedbellpeppergreenMFM" : 1.0,
          "egg" : 1.0,
          "saltMFM" : 1.0,
          "cookingoilMFM" : 1.0,
          "boiledrice" : 1.0,
          "choppedbellpepperredMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "friedshroomMFM" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "shroom" : 1.0
        },
        "out" : 1.0
      },
      {
        "in" : {
          "portobellomushroomMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "donutplainMFM" : [
      {
        "in" : {
          "doughMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "cinnamonfrenchtoastMFM" : [
      {
        "in" : {
          "frenchtoastMFM" : 1.0,
          "groundcinnamonMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "tamagoyakiMFM" : [
      {
        "in" : {
          "saltMFM" : 1.0,
          "egg" : 4.0,
          "tamariMFM" : 1.0,
          "cookingoilMFM" : 1.0,
          "sugar" : 1.0
        },
        "out" : 1.0
      }
    ],
    "friedfishMFM" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "unfinishedbatteredfishMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "friedbananaMFM" : [
      {
        "in" : { "banana" : 1.0 },
        "out" : 1.0
      }
    ],
    "cookedsausagealienpoultryMFM" : [
      {
        "in" : { "rawsausagealienpoultryMFM" : 1.0 },
        "out" : 1.0
      }
    ],
    "steamedpeasMFM" : [
      {
        "in" : {
          "peaMFM" : 2.0,
          "liquidwater" : 1.0
        },
        "out" : 1.0
      }
    ],
    "pancakesplainMFM" : [
      {
        "in" : {
          "mixpancakeplainMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 4.0
      }
    ],
    "fluffyruffs" : [
      {
        "in" : {
          "eggybreadMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "shrimptempuraMFM" : [
      {
        "in" : {
          "egg" : 1.0,
          "breadcrumbsMFM" : 2.0,
          "cookingoilMFM" : 1.0,
          "cornsyrupMFM" : 1.0,
          "rawshrimpMFM" : 3.0,
          "liquidwater" : 1.0
        },
        "out" : 1.0
      }
    ],
    "cookedbannockMFM" : [
      {
        "in" : { "rawbannockMFM" : 1.0 },
        "out" : 1.0
      }
    ],
    "chocolatefrenchtoastMFM" : [
      {
        "in" : {
          "cocoapowderMFM" : 1.0,
          "frenchtoastMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "tofufriedriceMFM" : [
      {
        "in" : {
          "egg" : 1.0,
          "tofuMFM" : 1.0,
          "rice" : 1.0
        },
        "out" : 1.0
      }
    ],
    "chipspotatoMFM" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "rawchipspotatoMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "apexfritter" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "rawapexfritterMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "sunnysideupMFM" : [
      {
        "in" : {
          "toast" : 1.0,
          "cookedeggMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "friedchickenMFM" : [
      {
        "in" : {
          "rawstripofpoultryMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "corndogsteakandpoultryMFM" : [
      {
        "in" : {
          "rawsausagealienpoultryMFM" : 1.0,
          "breadcrumbsMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "scrambledeggMFM" : [
      {
        "in" : {
          "egg" : 1.0,
          "saltMFM" : 1.0,
          "milk" : 1.0
        },
        "out" : 1.0
      }
    ],
    "friedeggMFM" : [
      {
        "in" : {
          "egg" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "burningeyeballs" : [
      {
        "in" : {
          "choppedchiliMFM" : 1.0,
          "choppedoculemonMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "steamedcauliflowerMFM" : [
      {
        "in" : {
          "cauliflowerMFM" : 2.0,
          "liquidwater" : 1.0
        },
        "out" : 1.0
      }
    ],
    "frenchfriesMFM" : [
      {
        "in" : {
          "saltMFM" : 1.0,
          "potato" : 1.0
        },
        "out" : 1.0
      }
    ],
    "cookedsoyburgersupremepattyMFM" : [
      {
        "in" : {
          "sunflowerMFMseed" : 2.0,
          "cookingoilMFM" : 1.0,
          "unfinishedsoyburgersupremeMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "hashbrownssweetpotatoMFM" : [
      {
        "in" : {
          "butterMFM" : 1.0,
          "choppedsweetpotatoMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "sweetpotatofriesMFM" : [
      {
        "in" : {
          "saltMFM" : 1.0,
          "sweetpotatoMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "freshpopcornMFM" : [
      {
        "in" : {
          "cookingoilMFM" : 1.0,
          "popcornkernelsMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "cookedalienmeatpattyMFM" : [
      {
        "in" : {
          "rawmeatpattyMFM" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ],
    "potatogrids" : [
      {
        "in" : {
          "mashedpotato" : 1.0,
          "cookingoilMFM" : 1.0
        },
        "out" : 1.0
      }
    ]
  },
  "possibleOutput" : [ "fishfingers", "fluffyruffs", "hashbrownspotatoMFM", "cookedalienmeatpattyMFM", "frenchfriesMFM", "potatogrids", "cookedbannockMFM", "friedshroomMFM", "chocolatefrenchtoastMFM", "sunnysideupMFM", "sweetpotatofriesMFM", "batteredbanana", "steamedbroccoliMFM", "cinnamonfrenchtoastMFM", "pearlpeapancakes", "burningeyeballs", "apexfritter", "caramelMFM", "tofufriedriceMFM", "chipspotatoMFM", "basecrepeMFM", "friedfishMFM", "tamagoyakiMFM", "pancakesplainMFM", "scrambledeggMFM", "sandwichgrilledcheeseMFM", "cookedsoyburgersupremepattyMFM", "friedbananaMFM", "donutplainMFM", "frenchtoastMFM", "omelette", "friedchickenMFM", "steamedcauliflowerMFM", "cookedsausagealienpoultryMFM", "friedeggMFM", "hashbrownssweetpotatoMFM", "corndogsteakandpoultryMFM", "shrimptempuraMFM", "donutplainchocolateMFM", "donutplainspookyMFM", "mushroomrice", "steamedpeasMFM", "freshpopcornMFM", "cookedbacon", "friedgarpberrysMFM", "wafflesMFM" ]
}