{
	"possibleOutput": [
		"caramelMFM",
		"tofufriedriceMFM",
		"chocolatecoveredbaconMFM",
		"chocolatefrenchtoastMFM",
		"cinnamonfrenchtoastMFM",
		"friedgarpberrysMFM",
		"frenchfriesMFM",
		"frenchtoastMFM",
		"steamedbroccoliMFM",
		"steamedcauliflowerMFM",
		"steamedpeasMFM",
		"sunnysideupMFM",
		"sweetpotatofriesMFM",
		"bannockMFM",
		"tamagoyakiMSM"
	]
}