{
	"possibleOutput": [
		"caramelMFM",
		"tofufriedriceMFM",
		"chocolatecoveredbaconMFM",
		"chocolatefrenchtoastMFM",
		"cinnamonfrenchtoastMFM",
		"friedbananaMFM",
		"friedeggMFM",
		"friedgarpberrysMFM",
		"friedshroomMFM",
		"frenchfriesMFM",
		"frenchtoastMFM",
		"steamedbroccoliMFM",
		"steamedcauliflowerMFM",
		"steamedpeasMFM",
		"sunnysideupMFM",
		"sweetpotatofriesMFM",
		"bannockMFM",
		"tamagoyakiMSM",
		"wafflesMFM",
		"scrambledeggMFM"
	]
}