{
	"possibleOutput": [
		"appleciderMFM",
		"avesmingojuice",
		"bananajuiceMFM",
		"carrotjuice",
		"coralcreepjuiceMFM",
		"feathercrownjuiceMFM",
		"garpberryjuiceMFM",
		"grapejuice",
		"greenappleciderMFM",
		"jelonjuiceMFM",
		"kiwijuice",
		"neonmelonjuiceMFM",
		"orangejuiceMFM",
		"pineapplejuice",
		"pussMFM",
		"reefjuice",
		"tomatojuice",
		"vanillaextractMFM"
	]
}