{
	"possibleOutput": [
		"appleciderMFM",
		"avesmingojuiceMFM",
		"bananajuiceMFM",
		"carrotjuiceMFM",
		"coralcreepjuiceMFM",
		"feathercrownjuiceMFM",
		"grapejuiceMFM",
		"greenappleciderMFM",
		"jelonjuiceMFM",
		"kiwijuiceMFM",
		"neonmelonjuiceMFM",
		"orangejuiceMFM",
		"pineapplejuiceMFM",
		"pussMFM",
		"reefjuiceMFM",
		"tomatojuiceMFM
	]
}