{
  "recipesCraftFrom" : {
    "saltMFM" : [ "bakingpowderMFM" ],
    "garlicMFM" : [ "groundgarlicMFM" ],
    "cinnamonMFM" : [ "groundcinnamonMFM" ],
    "corn" : [ "cornmealMFM" ],
    "petalyellow" : [ "mustardpowderMFM" ],
    "jelonMFM" : [ "groundjelonMFM" ],
    "cocoanibsMFM" : [ "cocoapowderMFM" ],
    "softblocksugarMFM" : [ "sugar" ],
    "rice" : [ "flourMFM" ],
    "creamMFM" : [ "bakingpowderMFM" ],
    "sugarcanestalkMFM" : [ "sugar" ],
    "nutmegMFM" : [ "groundnutmegMFM" ],
    "cloveMFM" : [ "groundcloveMFM" ],
    "blackpeppercornMFM" : [ "blackpepperMFM" ],
    "gingerMFM" : [ "groundgingerMFM" ],
    "potato" : [ "flourMFM" ],
    "wholeoatsMFM" : [ "flourMFM" ],
    "sugarbeetMFM" : [ "sugar" ],
    "parsleyleafMFM" : [ "groundparsleyMFM" ],
    "wheat" : [ "flourMFM" ],
    "coffeebeans" : [ "groundcoffeeMFM" ]
  },
  "recipesToCraft" : {
    "groundcoffeeMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "coffeebeans" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "cornmealMFM" : [
      {
        "output" : { "count" : 3.0 },
        "input" : { "corn" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "flourMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "wheat" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      },
      {
        "output" : { "count" : 5.0 },
        "input" : { "rice" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      },
      {
        "output" : { "count" : 5.0 },
        "input" : { "wholeoatsMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      },
      {
        "output" : { "count" : 5.0 },
        "input" : { "potato" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "mustardpowderMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "petalyellow" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundnutmegMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "nutmegMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundjelonMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "jelonMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "cocoapowderMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "cocoanibsMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "blackpepperMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "blackpeppercornMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundcinnamonMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cinnamonMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundgarlicMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "garlicMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundparsleyMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "parsleyleafMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundgingerMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : { "gingerMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "sugar" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "sugarbeetMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      },
      {
        "output" : { "count" : 10.0 },
        "input" : { "softblocksugarMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      },
      {
        "output" : { "count" : 3.0 },
        "input" : { "sugarcanestalkMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "bakingpowderMFM" : [
      {
        "output" : { "count" : 5.0 },
        "input" : {
          "saltMFM" : { "count" : 1.0 },
          "creamMFM" : { "count" : 1.0 }
        },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ],
    "groundcloveMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "cloveMFM" : { "count" : 2.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "millingMFM" ]
      }
    ]
  },
  "possibleOutput" : [ "bakingpowderMFM", "groundgarlicMFM", "sugar", "groundcinnamonMFM", "groundnutmegMFM", "groundcloveMFM", "blackpepperMFM", "groundjelonMFM", "flourMFM", "cocoapowderMFM", "groundparsleyMFM", "groundcoffeeMFM", "groundgingerMFM", "cornmealMFM", "mustardpowderMFM" ]
}