{
  "recipesCraftFrom" : {
    "saltMFM" : [ "bakingpowderMFM" ],
    "garlicMFM" : [ "groundgarlicMFM" ],
    "cinnamonMFM" : [ "groundcinnamonMFM" ],
    "corn" : [ "cornmealMFM" ],
    "petalyellow" : [ "mustardpowderMFM" ],
    "jelonMFM" : [ "groundjelonMFM" ],
    "cocoanibsMFM" : [ "cocoapowderMFM" ],
    "softblocksugarMFM" : [ "sugar" ],
    "rice" : [ "flourMFM" ],
    "creamMFM" : [ "bakingpowderMFM" ],
    "sugarcanestalkMFM" : [ "sugar" ],
    "nutmegMFM" : [ "groundnutmegMFM" ],
    "cloveMFM" : [ "groundcloveMFM" ],
    "blackpeppercornMFM" : [ "blackpepperMFM" ],
    "gingerMFM" : [ "groundgingerMFM" ],
    "potato" : [ "flourMFM" ],
    "wholeoatsMFM" : [ "flourMFM" ],
    "sugarbeetMFM" : [ "sugar" ],
    "parsleyleafMFM" : [ "groundparsleyMFM" ],
    "wheat" : [ "flourMFM" ],
    "coffeebeans" : [ "groundcoffeeMFM" ]
  },
  "recipesToCraft" : {
    "groundcoffeeMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "coffeebeans" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "cornmealMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (MILL)",
          "input" : { "corn" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "flourMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "wheat" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "rice" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "wholeoatsMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "potato" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "mustardpowderMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "petalyellow" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundnutmegMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "nutmegMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundjelonMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "jelonMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "cocoapowderMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "cocoanibsMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "blackpepperMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "blackpeppercornMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundcinnamonMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "cinnamonMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundgarlicMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "garlicMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundparsleyMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "parsleyleafMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundgingerMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : { "gingerMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "sugar" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "sugarbeetMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : { "count" : 10.0 },
          "displayMethods" : " (MILL)",
          "input" : { "softblocksugarMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (MILL)",
          "input" : { "sugarcanestalkMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "bakingpowderMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (MILL)",
          "input" : {
            "saltMFM" : { "count" : 1.0 },
            "creamMFM" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    },
    "groundcloveMFM" : {
      "displayMethods" : " (MILL)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (MILL)",
          "input" : { "cloveMFM" : { "count" : 2.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "methods" : { "millingMFM" : "MILL" }
    }
  },
  "possibleOutput" : [ "bakingpowderMFM", "groundgarlicMFM", "sugar", "groundcinnamonMFM", "groundnutmegMFM", "groundcloveMFM", "blackpepperMFM", "groundjelonMFM", "flourMFM", "cocoapowderMFM", "groundparsleyMFM", "groundcoffeeMFM", "groundgingerMFM", "cornmealMFM", "mustardpowderMFM" ]
}