{
  "recipesCraftFrom" : {
    "saltMFM" : [ "bakingpowderMFM" ],
    "garlicMFM" : [ "groundgarlicMFM" ],
    "cinnamonMFM" : [ "groundcinnamonMFM" ],
    "corn" : [ "cornmealMFM" ],
    "petalyellow" : [ "mustardpowderMFM" ],
    "jelonMFM" : [ "groundjelonMFM" ],
    "cocoanibsMFM" : [ "cocoapowderMFM" ],
    "softblocksugarMFM" : [ "sugar" ],
    "rice" : [ "flourMFM" ],
    "creamMFM" : [ "bakingpowderMFM" ],
    "sugarcanestalkMFM" : [ "sugar" ],
    "nutmegMFM" : [ "groundnutmegMFM" ],
    "cloveMFM" : [ "groundcloveMFM" ],
    "blackpeppercornMFM" : [ "blackpepperMFM" ],
    "gingerMFM" : [ "groundgingerMFM" ],
    "potato" : [ "flourMFM" ],
    "wholeoatsMFM" : [ "flourMFM" ],
    "sugarbeetMFM" : [ "sugar" ],
    "parsleyleafMFM" : [ "groundparsleyMFM" ],
    "wheat" : [ "flourMFM" ],
    "coffeebeans" : [ "groundcoffeeMFM" ]
  },
  "recipesToCraft" : {
    "groundcoffeeMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundcoffeeMFM",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "coffeebeans" : {
              "displayName" : "Coffee Beans",
              "count" : 1,
              "icon" : "coffeebeans.png",
              "id" : "coffeebeans"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Coffee",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Coffee (MILL)",
      "icon" : "groundcoffeeMFM.png"
    },
    "cornmealMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cornmealMFM",
            "count" : 3
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "corn" : {
              "displayName" : "Corn",
              "count" : 1,
              "icon" : "cornicon.png",
              "id" : "corn"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Cornmeal",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Cornmeal (MILL)",
      "icon" : "cornmealMFM.png"
    },
    "flourMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "flourMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "wheat" : {
              "displayName" : "Wheat",
              "count" : 1,
              "icon" : "wheat.png",
              "id" : "wheat"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : {
            "name" : "flourMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "rice" : {
              "displayName" : "Rice",
              "count" : 1,
              "icon" : "rice.png",
              "id" : "rice"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : {
            "name" : "flourMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "wholeoatsMFM" : {
              "displayName" : "Whole Oat Grains",
              "count" : 1,
              "icon" : "wholeoatsMFM.png",
              "id" : "wholeoatsMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : {
            "name" : "flourMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "potato" : {
              "displayName" : "Potato",
              "count" : 1,
              "icon" : "potatoicon.png",
              "id" : "potato"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Flour",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Flour (MILL)",
      "icon" : "flourMFM.png"
    },
    "mustardpowderMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "mustardpowderMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "petalyellow" : {
              "displayName" : "Yellow Petal",
              "count" : 1,
              "icon" : "petalyellow.png",
              "id" : "petalyellow"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Mustard Powder",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Mustard Powder (MILL)",
      "icon" : "mustardpowderMFM.png"
    },
    "groundnutmegMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundnutmegMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "nutmegMFM" : {
              "displayName" : "Nutmeg",
              "count" : 1,
              "icon" : "nutmegMFM.png",
              "id" : "nutmegMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Nutmeg",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Nutmeg (MILL)",
      "icon" : "groundnutmegMFM.png"
    },
    "groundjelonMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundjelonMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "jelonMFM" : {
              "displayName" : "Jelon",
              "count" : 1,
              "icon" : "jelonMFM.png",
              "id" : "jelonMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Jelon",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Jelon (MILL)",
      "icon" : "groundjelonMFM.png"
    },
    "cocoapowderMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cocoapowderMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "cocoanibsMFM" : {
              "displayName" : "Cocoa Nibs",
              "count" : 1,
              "icon" : "cocoanibsMFM.png",
              "id" : "cocoanibsMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Cocoa Powder",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Cocoa Powder (MILL)",
      "icon" : "cocoapowderMFM.png"
    },
    "blackpepperMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "blackpepperMFM",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "blackpeppercornMFM" : {
              "displayName" : "Black Peppercorn",
              "count" : 1,
              "icon" : "blackpeppercornMFM.png",
              "id" : "blackpeppercornMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Black Pepper",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Black Pepper (MILL)",
      "icon" : "blackpepperMFM.png"
    },
    "groundcinnamonMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundcinnamonMFM",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "cinnamonMFM" : {
              "displayName" : "Cinnamon",
              "count" : 1,
              "icon" : "cinnamonMFM.png",
              "id" : "cinnamonMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Cinnamon",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Cinnamon (MILL)",
      "icon" : "groundcinnamonMFM.png"
    },
    "groundgarlicMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundgarlicMFM",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "garlicMFM" : {
              "displayName" : "Garlic",
              "count" : 1,
              "icon" : "garlicMFM.png",
              "id" : "garlicMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Garlic",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Garlic (MILL)",
      "icon" : "groundgarlicMFM.png"
    },
    "groundparsleyMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundparsleyMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "parsleyleafMFM" : {
              "displayName" : "Parsley Leaf",
              "count" : 1,
              "icon" : "parsleyleafMFM.png",
              "id" : "parsleyleafMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Parsley",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Parsley (MILL)",
      "icon" : "groundparsleyMFM.png"
    },
    "groundgingerMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundgingerMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "gingerMFM" : {
              "displayName" : "Ginger",
              "count" : 1,
              "icon" : "gingerMFM.png",
              "id" : "gingerMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Ginger",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Ginger (MILL)",
      "icon" : "groundgingerMFM.png"
    },
    "sugar" : {
      "recipes" : [
        {
          "output" : {
            "name" : "sugar",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "sugarbeetMFM" : {
              "displayName" : "Sugar Beet",
              "count" : 1,
              "icon" : "sugarbeetMFM.png",
              "id" : "sugarbeetMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : {
            "name" : "sugar",
            "count" : 10
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "softblocksugarMFM" : {
              "displayName" : "Soft Block Sugar",
              "count" : 1,
              "icon" : "softblocksugarMFM.png",
              "id" : "softblocksugarMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        },
        {
          "output" : {
            "name" : "sugar",
            "count" : 3
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "sugarcanestalkMFM" : {
              "displayName" : "Sugarcane Stalk",
              "count" : 1,
              "icon" : "sugarcanestalkMFM.png",
              "id" : "sugarcanestalkMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Sugar",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Sugar (MILL)",
      "icon" : "sugar.png"
    },
    "bakingpowderMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "bakingpowderMFM",
            "count" : 5
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "saltMFM" : {
              "displayName" : "Salt",
              "count" : 1,
              "icon" : "saltMFM.png",
              "id" : "saltMFM"
            },
            "creamMFM" : {
              "displayName" : "Cream",
              "count" : 1,
              "icon" : "creamMFM.png",
              "id" : "creamMFM"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Baking Powder",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Baking Powder (MILL)",
      "icon" : "bakingpowderMFM.png"
    },
    "groundcloveMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "groundcloveMFM",
            "count" : 1
          },
          "displayMethods" : " (MILL)",
          "input" : {
            "cloveMFM" : {
              "displayName" : "Clove",
              "count" : 2,
              "icon" : "cloveMFM.png",
              "id" : "cloveMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "millingMFM" : "MILL" },
          "groups" : [ "millingMFM" ]
        }
      ],
      "displayName" : "Ground Clove",
      "methods" : { "millingMFM" : "MILL" },
      "displayNameWithMethods" : "Ground Clove (MILL)",
      "icon" : "groundcloveMFM.png"
    }
  },
  "possibleOutput" : [ "bakingpowderMFM", "groundgarlicMFM", "sugar", "groundcinnamonMFM", "groundnutmegMFM", "groundcloveMFM", "blackpepperMFM", "groundjelonMFM", "flourMFM", "cocoapowderMFM", "groundparsleyMFM", "groundcoffeeMFM", "groundgingerMFM", "cornmealMFM", "mustardpowderMFM" ]
}