{
	"possibleOutput": [
    "apegrapes",
    "avocadomakiMSM",
    "bamboo",
    "bananacreamdonut",
    "bananagarpsaladMFM",
    "blackberryjellysandwichPBJ",
    "blackberrypbjPBJ",
    "blueberryjellysandwichPBJ",
    "blueberrypbjPBJ",
    "cake",
    "cakespookyMFM",
    "californiamakiMSM",
    "californiatemakiMSM",
    "carrotcake",
    "cheeseburger",
    "chocolatecake",
    "chocolatechipsMFM",
    "chocolatecoffeebeansMFM",
    "choconut",
    "coconutrice",
    "coffeecake",
    "cupcakechocolateMFM",
    "cupcakecoffeeMFM",
    "cupcakelemonMFM",
    "cupcakespookyMFM",
    "cupcakevanillaMFM",
    "ebimakiMSM",
    "ebinigiriMSM",
    "ebitemakiMSM",
    "eggandbaconsandwichMFM",
    "eggontoastMFM",
    "fishnchips",
    "frenchfrieswithketchupMFM",
    "fruitsalad",
    "gardensalad",
    "goldenappleMFM",
    "goldenbananaMFM",
    "goldencarrotMFM",
    "grapejellysandwichPBJ",
    "hamburger",
    "ikamakiMSM",
    "ikanigiriMSM",
    "ikatemakiMSM",
    "kappamakiMSM",
    "maguromakiMSM",
    "maguronigiriMSM",
    "magurotemakiMSM",
    "oceansurprise",
    "pbandbananaPBJ",
    "pbjPBJ",
    "peanutbuttersandwichPBJ",
    "pineapplepizzaslice",
    "preparedcoconutMFM",
    "pussplumpudding",
    "raspberryjellysandwichPBJ",
    "raspberrypbjPBJ",
    "rawapexfritterMFM",
    "rawapplecrumbleMFM",
    "rawbastedbaconMFM",
    "rawbastedribmeatMFM",
    "rawbrineappleMFM",
    "rawchipspotatoMFM",
    "rawfeatherfoodMFM",
    "rawfishdumplingsMFM",
    "rawfishfingersMFM",
    "rawfishinaboneMFM",
    "rawmeatdumplingsMFM",
    "rawmeatpattyMFM",
    "rawpastyMFM",
    "rawsoggysackMFM",
    "rawstuffedautomatoMFM",
    "rawstuffeddirturchinMFM",
    "rawstuffedtomatoMFM",
    "riceballMSM",
    "roastdinner",
    "sakemakiMSM",
    "sakenigiriMSM",
    "saketemakiMSM",
    "saladMFM",
    "saltsalad",
    "scrambledeggwithketchupMFM",
    "shortcrustpastryMFM",
    "specialrice",
    "spookydonut",
    "strawberryjellysandwichPBJ",
    "strawberrypbjPBJ",
    "sushi",
    "takomakiMSM",
    "takonigiriMSM",
    "takotemakiMSM",
    "toastbutteredMFM",
    "toxicjamdonut",
    "unagimakiMSM",
    "unaginigiriMSM",
    "unagitemakiMSM",
    "unfinishedbatteredbananaMFM",
    "unfinishedbatteredfishMFM",
    "unfinishedcookiesspikyMFM",
    "unfinishedgratinseafoodMFM",
    "unfinishedmeringueoculemonMFM",
    "unfinishedpiebananacreamMFM",
    "unfinishedpiefishMFM",
    "unfinishedpiemeatMFM",
    "unfinishedpiespookyMFM",
    "unfinishedpizzabasicMFM",
    "unfinishedquichelorraineMFM",
    "unfinishedquichemushroomMFM",
    "unfinishedtartbeakseedMFM",
    "unfinishedtartpussplumMFM",
    "unfinishedtarttoxictopMFM"
	]
}