{
	"possibleOutput": [
    "apegrapes",
    "baconandeggsMFM",
    "bamboo",
    "bananacreamdonut",
    "bdaycakeMFM",
    "cake",
    "cakespookyMFM",
    "carrotcake",
    "cheeseburger",
    "cheeseburgerMFM",
    "cheeseburgerMFM2",
    "cheeseburgerMFM3",
    "cheeseburgerMFM4",
    "cheeseburgerMFM5",
    "cheeseburgerMFM6",
    "cheeseburgerMFM7",
    "chocolatebunnyplainMFM",
    "chocolatebunnydarkMFM",
    "chocolatebunnywhiteMFM",
    "chocolatecake",
    "chocolatechipsMFM",
    "chocolatecoffeebeansMFM",
    "choconut",
    "coconutrice",
    "coffeecake",
    "crackersplaincheeseMFM",
    "crepeblueberryMFM",
    "crepestrawberryMFM",
    "cupcakechocolateMFM",
    "cupcakecoffeeMFM",
    "cupcakelemonMFM",
    "cupcakespookyMFM",
    "cupcakevanillaMFM",
    "eggontoastMFM",
    "fishnchips",
    "frenchfrieswithketchupMFM",
    "fruitsalad",
    "gardensalad",
    "goldenappleMFM",
    "goldenbananaMFM",
    "goldencarrotMFM",
    "hamburger",
    "hotchocolatemarshmallowMFM",
    "icecreamconechocolateMFM",
    "icecreamconegarpberryMFM",
    "icecreamconevanillachocolatechipMFM",
    "icecreamconevanillaMFM",
    "icecreamconechocolateswirlMFM",
    "kebabshrimppoultryMFM",
    "makiavocadoMFM",
    "makicaliforniaMFM",
    "makiebiMFM",
    "makiikaMFM",
    "makikappaMFM",
    "makimaguroMFM",
    "makisakeMFM",
    "makitakoMFM",
    "makiunagiMFM",
    "nigiriebiMFM",
    "nigiriikaMFM",
    "nigirimaguroMFM",
    "nigirisakeMFM",
    "nigiritakoMFM",
    "nigiriunagiMFM",
    "oceansurprise",
	"phoMFM",
    "pineapplepizzaslice",
    "preparedcoconutMFM",
    "pussplumpudding",
    "rawapexfritterMFM",
    "rawapplecrumbleMFM",
    "rawbastedbaconMFM",
    "rawbastedribmeatMFM",
    "rawbrineappleMFM",
    "rawchipspotatoMFM",
    "rawfeatherfoodMFM",
    "rawfishdumplingsMFM",
    "rawfishfingersMFM",
    "rawfishinaboneMFM",
    "rawmeatdumplingsMFM",
    "rawmeatpattyMFM",
    "rawpastyMFM",
    "rawsoggysackMFM",
    "rawstuffedautomatoMFM",
    "rawstuffeddirturchinMFM",
    "rawstuffedtomatoMFM",
    "riceballMFM",
    "roastdinner",
    "saladMFM",
    "saladbananagarpberryMFM",
    "saltsalad",
    "sandwichbaconeggMFM",
    "sandwichbacongarpberryMFM",
    "sandwichbananaMFM",
    "sandwichbananachipsMFM",
    "sandwichjellyblackberryMFM",
    "sandwichjellyblueberryMFM",
    "sandwichjellygrapeMFM",
    "sandwichjellyraspberryMFM",
    "sandwichjellystrawberryMFM",
    "sandwichpbbananaMFM",
    "sandwichpbjblackberryMFM",
    "sandwichpbjblueberryMFM",
    "sandwichpbjgrapeMFM",
    "sandwichpbjraspberryMFM",
    "sandwichpbjstrawberryMFM",
    "sandwichpeanutbutterMFM",
    "sausageandeggsMFM",
    "scrambledeggwithketchupMFM",
    "shortcrustpastryMFM",
    "smoreMFM",
    "specialrice",
    "spookydonut",
    "steakandmashedpotatoesMFM",
    "sushi",
    "temakicaliforniaMFM",
    "temakiebiMFM",
    "temakiikaMFM",
    "temakimaguroMFM",
    "temakisakeMFM",
    "temakitakoMFM",
    "temakiunagiMFM",
    "toastbutteredMFM",
    "toxicjamdonut",
    "trailmixbasicMFM",
    "unfinishedbatteredbananaMFM",
    "unfinishedbatteredfishMFM",
    "unfinishedcookiesspikyMFM",
    "unfinishedgratinseafoodMFM",
    "unfinishedmeringueoculemonMFM",
    "unfinishedpieappleredMFM",
    "unfinishedpiebananacreamMFM",
    "unfinishedpiebutterscotchcinnamonMFM",
    "unfinishedpiefishMFM",
    "unfinishedpiemeatMFM",
    "unfinishedpiepumpkinMFM",
    "unfinishedpiespookyMFM",
    "unfinishedpizzabasicMFM",
    "unfinishedquichelorraineMFM",
    "unfinishedquichemushroomMFM",
    "unfinishedtartbeakseedMFM",
    "unfinishedtartpussplumMFM",
    "unfinishedtarttoxictopMFM"
	]
}