{
	"possibleOutput": [
		"cocoabutterMFM",
		"cookingoilMFM",
		"molassesMFM",
		"okaraMFM",
		"plantmushMFM",
		"pressedalienfruitMFM",
		"pressedbeakseedMFM",
		"pressedfeathercrownMFM",
		"pressedkiwiMFM",
		"pressedpearlpeaMFM",
		"pressedpineappleMFM",
		"pressedtoxictopMFM",
		"rawsausagealienpoultryMFM"
	]
}