{
  "recipesCraftFrom" : {
    "kiwi" : [ "pressedkiwiMFM" ],
    "sunflowerMFMseed" : [ "cookingoilMFM" ],
    "tamariMFM" : [ "rawsausageokaraMFM" ],
    "choppedpumpkinMFM" : [ "cookingoilMFM" ],
    "doughMFM" : [ "pielidMFM" ],
    "alienfruit" : [ "pressedalienfruitMFM" ],
    "yeastMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofpoultryMFM" : [ "rawsausagealienpoultryMFM" ],
    "seedoilMFM" : [ "cookingoilMFM" ],
    "molassesMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofalienmeatMFM" : [ "rawsausagealienpoultryMFM" ],
    "liquidwater" : [ "rawsausageokaraMFM" ],
    "groundgarlicMFM" : [ "rawsausageokaraMFM" ],
    "groundparsleyMFM" : [ "rawsausageokaraMFM" ],
    "pearlpea" : [ "pressedpearlpeaMFM" ],
    "saltMFM" : [ "rawsausageokaraMFM" ],
    "wheatseed" : [ "cookingoilMFM" ],
    "flourMFM" : [ "rawsausageokaraMFM" ],
    "cottonseed" : [ "cookingoilMFM" ],
    "chocolateliquorMFM" : [ "cocoabutterMFM" ],
    "plantfibre" : [ "plantmushMFM" ],
    "toxictop" : [ "pressedtoxictopMFM" ],
    "rattannutMFM" : [ "cookingoilMFM" ],
    "neonmelon" : [ "pressedneonmelonMFM" ],
    "feathercrown" : [ "pressedfeathercrownMFM" ],
    "cornseed" : [ "cookingoilMFM" ],
    "wartweed" : [ "pressedwartweedMFM" ],
    "peanutshelledMFM" : [ "cookingoilMFM" ],
    "pineapple" : [ "pressedpineappleMFM" ],
    "boiledsoybeansMFM" : [ "okaraMFM" ],
    "beakseed" : [ "pressedbeakseedMFM" ],
    "okaraMFM" : [ "rawsausageokaraMFM" ],
    "pussplum" : [ "pressedpussplumMFM" ],
    "cookingoilMFM" : [ "rawsausageokaraMFM" ],
    "sugar" : [ "molassesMFM" ],
    "choppedonionMFM" : [ "rawsausageokaraMFM" ]
  },
  "recipesToCraft" : {
    "pressedpussplumMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "pussplum" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedpineappleMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "pineapple" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "cocoabutterMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "chocolateliquorMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedfeathercrownMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "feathercrown" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "plantmushMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "plantfibre" : { "count" : 2.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedpearlpeaMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "pearlpea" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedalienfruitMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "alienfruit" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedkiwiMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "kiwi" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedtoxictopMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "toxictop" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedneonmelonMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "neonmelon" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedbeakseedMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "beakseed" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "okaraMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "boiledsoybeansMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pressedwartweedMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "wartweed" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "molassesMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "sugar" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "cookingoilMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 4.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "peanutshelledMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 3.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "rattannutMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 5.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "choppedpumpkinMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "cottonseed" : { "count" : 2.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "wheatseed" : { "count" : 4.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "cornseed" : { "count" : 4.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "sunflowerMFMseed" : { "count" : 5.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "seedoilMFM" : { "count" : 2.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "rawsausagealienpoultryMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : {
            "rawstripofpoultryMFM" : { "count" : 1.0 },
            "rawstripofalienmeatMFM" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "pielidMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : { "doughMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    },
    "rawsausageokaraMFM" : {
      "displayMethods" : " (PRESS)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PRESS)",
          "input" : {
            "tamariMFM" : { "count" : 1.0 },
            "saltMFM" : { "count" : 1.0 },
            "flourMFM" : { "count" : 2.0 },
            "okaraMFM" : { "count" : 4.0 },
            "molassesMFM" : { "count" : 1.0 },
            "cookingoilMFM" : { "count" : 1.0 },
            "yeastMFM" : { "count" : 1.0 },
            "liquidwater" : { "count" : 1.0 },
            "groundgarlicMFM" : { "count" : 1.0 },
            "groundparsleyMFM" : { "count" : 1.0 },
            "choppedonionMFM" : { "count" : 1.0 }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "methods" : { "pressingMFM" : "PRESS" }
    }
  },
  "possibleOutput" : [ "pressedtoxictopMFM", "pressedpearlpeaMFM", "pressedfeathercrownMFM", "cookingoilMFM", "pressedpussplumMFM", "cocoabutterMFM", "rawsausageokaraMFM", "okaraMFM", "pressedpineappleMFM", "pielidMFM", "pressedneonmelonMFM", "plantmushMFM", "pressedalienfruitMFM", "molassesMFM", "rawsausagealienpoultryMFM", "pressedkiwiMFM", "pressedbeakseedMFM", "pressedwartweedMFM" ]
}