{
  "recipesCraftFrom" : {
    "kiwi" : [ "pressedkiwiMFM" ],
    "sunflowerMFMseed" : [ "cookingoilMFM" ],
    "tamariMFM" : [ "rawsausageokaraMFM" ],
    "choppedpumpkinMFM" : [ "cookingoilMFM" ],
    "doughMFM" : [ "pielidMFM" ],
    "alienfruit" : [ "pressedalienfruitMFM" ],
    "yeastMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofpoultryMFM" : [ "rawsausagealienpoultryMFM" ],
    "seedoilMFM" : [ "cookingoilMFM" ],
    "molassesMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofalienmeatMFM" : [ "rawsausagealienpoultryMFM" ],
    "liquidwater" : [ "rawsausageokaraMFM" ],
    "groundgarlicMFM" : [ "rawsausageokaraMFM" ],
    "groundparsleyMFM" : [ "rawsausageokaraMFM" ],
    "pearlpea" : [ "pressedpearlpeaMFM" ],
    "saltMFM" : [ "rawsausageokaraMFM" ],
    "wheatseed" : [ "cookingoilMFM" ],
    "flourMFM" : [ "rawsausageokaraMFM" ],
    "cottonseed" : [ "cookingoilMFM" ],
    "chocolateliquorMFM" : [ "cocoabutterMFM" ],
    "plantfibre" : [ "plantmushMFM" ],
    "toxictop" : [ "pressedtoxictopMFM" ],
    "rattannutMFM" : [ "cookingoilMFM" ],
    "neonmelon" : [ "pressedneonmelonMFM" ],
    "feathercrown" : [ "pressedfeathercrownMFM" ],
    "cornseed" : [ "cookingoilMFM" ],
    "wartweed" : [ "pressedwartweedMFM" ],
    "peanutshelledMFM" : [ "cookingoilMFM" ],
    "pineapple" : [ "pressedpineappleMFM" ],
    "boiledsoybeansMFM" : [ "okaraMFM" ],
    "beakseed" : [ "pressedbeakseedMFM" ],
    "okaraMFM" : [ "rawsausageokaraMFM" ],
    "pussplum" : [ "pressedpussplumMFM" ],
    "cookingoilMFM" : [ "rawsausageokaraMFM" ],
    "sugar" : [ "molassesMFM" ],
    "choppedonionMFM" : [ "rawsausageokaraMFM" ]
  },
  "recipesToCraft" : {
    "pressedpussplumMFM" : [
      {
        "in" : { "pussplum" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedpineappleMFM" : [
      {
        "in" : { "pineapple" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "cocoabutterMFM" : [
      {
        "in" : { "chocolateliquorMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedfeathercrownMFM" : [
      {
        "in" : { "feathercrown" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "plantmushMFM" : [
      {
        "in" : { "plantfibre" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedpearlpeaMFM" : [
      {
        "in" : { "pearlpea" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedalienfruitMFM" : [
      {
        "in" : { "alienfruit" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedkiwiMFM" : [
      {
        "in" : { "kiwi" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedtoxictopMFM" : [
      {
        "in" : { "toxictop" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedneonmelonMFM" : [
      {
        "in" : { "neonmelon" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedbeakseedMFM" : [
      {
        "in" : { "beakseed" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "okaraMFM" : [
      {
        "in" : { "boiledsoybeansMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pressedwartweedMFM" : [
      {
        "in" : { "wartweed" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "molassesMFM" : [
      {
        "in" : { "sugar" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "cookingoilMFM" : [
      {
        "in" : { "peanutshelledMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 4.0
      },
      {
        "in" : { "rattannutMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 3.0
      },
      {
        "in" : { "choppedpumpkinMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 5.0
      },
      {
        "in" : { "cottonseed" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "wheatseed" : 4.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "cornseed" : 4.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "sunflowerMFMseed" : 5.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      },
      {
        "in" : { "seedoilMFM" : 2.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "rawsausagealienpoultryMFM" : [
      {
        "in" : {
          "rawstripofpoultryMFM" : 1.0,
          "rawstripofalienmeatMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "pielidMFM" : [
      {
        "in" : { "doughMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "rawsausageokaraMFM" : [
      {
        "in" : {
          "tamariMFM" : 1.0,
          "saltMFM" : 1.0,
          "flourMFM" : 2.0,
          "okaraMFM" : 4.0,
          "molassesMFM" : 1.0,
          "cookingoilMFM" : 1.0,
          "yeastMFM" : 1.0,
          "liquidwater" : 1.0,
          "groundgarlicMFM" : 1.0,
          "groundparsleyMFM" : 1.0,
          "choppedonionMFM" : 1.0
        },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ]
  },
  "possibleOutput" : [ "pressedtoxictopMFM", "pressedpearlpeaMFM", "pressedfeathercrownMFM", "cookingoilMFM", "pressedpussplumMFM", "cocoabutterMFM", "rawsausageokaraMFM", "okaraMFM", "pressedpineappleMFM", "pielidMFM", "pressedneonmelonMFM", "plantmushMFM", "pressedalienfruitMFM", "molassesMFM", "rawsausagealienpoultryMFM", "pressedkiwiMFM", "pressedbeakseedMFM", "pressedwartweedMFM" ]
}