{
  "recipesCraftFrom" : {
    "liquidpoison" : [ "liquidwater" ],
    "liquidhealing" : [ "liquidwater" ],
    "swampwater" : [ "liquidwater" ],
    "ice" : [ "liquidwater" ],
    "liquidfuel" : [ "liquidwater" ],
    "liquidslime" : [ "liquidwater" ]
  },
  "recipesToCraft" : {
    "liquidwater" : [
      {
        "in" : { "ice" : 1.0 },
        "out" : 2.0
      },
      {
        "in" : { "liquidfuel" : 1.0 },
        "out" : 1.0
      },
      {
        "in" : { "liquidhealing" : 1.0 },
        "out" : 1.0
      },
      {
        "in" : { "liquidpoison" : 1.0 },
        "out" : 1.0
      },
      {
        "in" : { "liquidslime" : 1.0 },
        "out" : 1.0
      },
      {
        "in" : { "swampwater" : 1.0 },
        "out" : 1.0
      }
    ]
},
  "possibleOutput" : [ "liquidwater" ]
}