{
  "recipesCraftFrom" : {
    "liquidpoison" : [ "liquidwater" ],
    "liquidhealing" : [ "liquidwater" ],
    "swampwater" : [ "liquidwater" ],
    "ice" : [ "liquidwater" ],
    "liquidfuel" : [ "liquidwater" ],
    "liquidslime" : [ "liquidwater" ]
  },
  "recipesToCraft" : {
    "liquidwater" : {
      "displayMethods" : " (PURIFY)",
      "recipes" : [
        {
          "output" : { "count" : 2.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "ice" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "liquidfuel" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "liquidhealing" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "liquidpoison" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "liquidslime" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        },
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (PURIFY)",
          "input" : { "swampwater" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { "purifyingMFM" : "PURIFY" },
          "groups" : [ "purifyingMFM" ]
        }
      ],
      "methods" : { "purifyingMFM" : "PURIFY" }
    }
},
  "possibleOutput" : [ "liquidwater" ]
}