{
  "recipesCraftFrom" : {
    "liquidpoison" : [ "liquidwater" ],
    "liquidhealing" : [ "liquidwater" ],
    "swampwater" : [ "liquidwater" ],
    "ice" : [ "liquidwater" ],
    "liquidfuel" : [ "liquidwater" ],
    "liquidslime" : [ "liquidwater" ]
  },
  "recipesToCraft" : {
    "liquidwater" : [
      {
        "output" : { "count" : 2.0 },
        "input" : { "ice" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "liquidfuel" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "liquidhealing" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "liquidpoison" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "liquidslime" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      },
      {
        "output" : { "count" : 1.0 },
        "input" : { "swampwater" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "purifyingMFM" ]
      }
    ]
},
  "possibleOutput" : [ "liquidwater" ]
}