{
	"possibleOutput": [
		"avianbakingstationCNYC",
		"avianblendingstationCNYC",
		"avianboilingstationCNYC",
		"avianchoppingstationCNYC",
		"aviancoffeestationCNYC",
		"avianfreezingstationCNYC",
		"avianfryingstationCNYC",
		"avianpurifierstationCNYC",
		"avianwaterstationCNYC",
		"bakingstationCNYC",
		"blendingstationCNYC",
		"blockchocolatedarkMFM",
		"blockchocolateplainMFM",
		"blockchocolatewhiteMFM",
		"blockjelonMFM",
		"blockneonmelonMFM",
		"blockpumpkinMFM",
		"boilingstationCNYC",
		"choppingstationMFM",
		"coffeestationCNYC",
		"floranpurifierstationCNYC",
		"freezerMFM",
		"freezingstationCNYC",
		"fryingstationMFM",
		"waterstationCNYC",
		"glitchbakingstationCNYC",
		"glitchblendingstationCNYC",
		"glitchboilingstationCNYC",
		"glitchchoppingstationCNYC",
		"glitchcoffeestationCNYC",
		"glitchfreezingstationCNYC",
		"glitchfryingstationCNYC",
		"glitchpurifierstationCNYC",
		"glitchwaterstationCNYC",
		"hylotlbakingstationCNYC",
		"hylotlblendingstationCNYC",
		"hylotlboilingstationCNYC",
		"hylotlchoppingstationCNYC",
		"hylotlcoffeestationCNYC",
		"hylotlfreezingstationCNYC",
		"hylotlfryingstationCNYC",
		"hylotlpurifierstationCNYC",
		"hylotlwaterstationCNYC",
		"makeshiftboilingstationCNYC",
		"makeshiftchoppingstationCNYC",
		"makeshiftgrindingstationCNYC",
		"mixerMFM",
		"money",
		"nanobakingstationCNYC",
		"nanoblendingstationCNYC",
		"nanoboilingstationCNYC",
		"nanochoppingstationCNYC",
		"nanocoffeestationCNYC",
		"nanofreezingstationCNYC",
		"nanopurifierstationCNYC",
		"nanowaterstationCNYC",
		"novakidbakingstationCNYC",
		"novakidblendingstationCNYC",
		"novakidboilingstationCNYC",
		"novakidchoppingstationCNYC",
		"novakidcoffeestationCNYC",
		"novakidfreezingstationCNYC",
		"novakidfryingstationCNYC",
		"novakidpurifierstationCNYC",
		"novakidwaterstationCNYC",
		"purifierstationMFM",
		"recipebookMFM",
		"softblocksugarMFM"
	]
}