{
  "recipesCraftFrom" : {
    "dirtyceramicplateMFM" : [ "ceramicplateMFM" ],
    "bottle" : [ "bottledwater" ]
  },
  "recipesToCraft" : {
    "bottledwater" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "bottle" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "waterMFM" ]
      }
    ],
    "ceramicplateMFM" : [
      {
        "output" : { "count" : 1.0 },
        "input" : { "dirtyceramicplateMFM" : { "count" : 1.0 } },
        "excludeFromRecipeBook" : false,
        "groups" : [ "waterMFM" ]
      }
    ]
  },
  "possibleOutput" : [ "bottledwater", "ceramicplateMFM" ]
}