{
  "recipesCraftFrom" : {
    "dirtyceramicplateMFM" : [ "ceramicplateMFM" ],
    "bottle" : [ "bottledwater" ]
  },
  "recipesToCraft" : {
    "bottledwater" : [
      {
        "in" : { "bottle" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ],
    "ceramicplateMFM" : [
      {
        "in" : { "dirtyceramicplateMFM" : 1.0 },
        "excludeFromRecipeBook" : false,
        "out" : 1.0
      }
    ]
  },
  "possibleOutput" : [ "bottledwater", "ceramicplateMFM" ]
}