{
  "recipesCraftFrom" : {
    "dirtyceramicplateMFM" : [ "ceramicplateMFM" ],
    "bottle" : [ "bottledwater" ]
  },
  "recipesToCraft" : {
    "bottledwater" : {
      "displayMethods" : " (UNKNOWN)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (UNKNOWN)",
          "input" : { "bottle" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { },
          "groups" : [ ]
        }
      ],
      "methods" : { }
    },
    "ceramicplateMFM" : {
      "displayMethods" : " (UNKNOWN)",
      "recipes" : [
        {
          "output" : { "count" : 1.0 },
          "displayMethods" : " (UNKNOWN)",
          "input" : { "dirtyceramicplateMFM" : { "count" : 1.0 } },
          "excludeFromRecipeBook" : false,
          "methods" : { },
          "groups" : [ ]
        }
      ],
      "methods" : { }
    }
  },
  "possibleOutput" : [ "bottledwater", "ceramicplateMFM" ]
}