{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/obsoleteRecipeCrafterMFM_header.png",
      "fileBody" : "/interface/objectcrafting/obsoleteRecipeCrafterMFM_body.png",
      "fileFooter" : "/interface/objectcrafting/obsoleteRecipeCrafterMFM_footer.png"
    },
    "lblMethod" : {
      "type" : "label",
      "position" : [3, 23],
      "hAnchor" : "left",
      "value" : "^orange;Update at Kitchen Crafting Table"
    },
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 40],
      "dimensions" : [5, 3],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [104, 43],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [116, 40],
      "dimensions" : [1, 1],
	  "slotOffset": 15,
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/recipeCrafterMFM_shine.png",
      "position" : [-20, 20]
    }
  }
}
