{
  "possibleOutput" : [
    "crackerplainMFM",
    "unfinishedcakespookyMFM",
    "stuffedbellpepperorangeMFM",
    "stickyribs",
    "pieappleredMFM",
    "cookedshroomMFM",
    "cookedtomato",
    "roastedgarpberrysMFM",
    "bananacreampie",
    "poptarttoxictopMFM",
    "hardchocolatedarkMFM",
    "toffeecookieMFM",
    "ricecake",
    "fishpie",
    "driedtomatoMFM",
    "candiedcorn",
    "hotbone",
    "roastedcarrot",
    "crunchyokaracarobolaMFM",
    "cookedeggMFM",
    "pieshellMFM",
    "roastedstripofpoultryMFM",
    "fruitcakeholidayMFM",
    "cookedoctopusMFM",
    "cookedtentacle",
    "pieblackberryMFM",
    "spicyfeathercrown",
    "chipstortillaMFM",
    "pasty",
    "candyautomato",
    "piecherryMFM",
    "spicyribs",
    "cookedribmeat",
    "pigsinablanketMFM",
    "roastedsunflowerseedsMFM",
    "cookedpoultry",
    "gingercookieMFM",
    "fishinabone",
    "hardchocolateplainMFM",
    "bunhotdogMFM",
    "featherfood",
    "cookedflytrapMFMmeat",
    "spikycookies",
    "pussplumtart",
    "stuffeddirturchin",
    "roastedcoffeebeansMFM",
    "stuffedbellpepperyellowMFM",
    "oculemonmeringue",
    "cookedcornMFM",
    "hqbreadMFM",
    "cookedautomatoMFM",
    "grahamcrackerMFM",
    "16gbpasty",
    "padthaiMFM",
    "smokedsalmonMFM",
    "cookedcactiMFM",
    "candyapple",
    "mushroomquiche",
    "pizzaMFM",
    "stuffedbellpepperredMFM",
    "toast",
    "cookedeggshootMFM",
    "popcornkernelsMFM",
    "quichelorraine",
    "sweetmeat",
    "bunsburgerMFM",
    "sourcreamMFM",
    "waffleconeMFM",
    "cupcakeplainMFM",
    "chocolateliquordarkMFM",
    "marshmallowcoveredsweetpotatoMFM",
    "toffeeMFM",
    "cookedboltbulbMFM",
    "hardchocolatewhiteMFM",
    "unfinishedcakeplainMFM",
    "mushroombread",
    "cookedsquidMFM",
    "garpberrystuffedautomatoMFM",
    "spookypie",
    "chocolateliquorwhiteMFM",
    "bread",
    "piebutterscotchcinnamonMFM",
    "campfirebanana",
    "cookedbananaMFM",
    "piestrawberryMFM",
    "seafoodgratin",
    "pinanaMFM",
    "sweetpopcorn",
    "meatpie",
    "pizzapMFM",
    "jerkypoultryMFM",
    "tofurkeydinnerMFM",
    "cookieraisinsoyMFM",
    "beakseedtart",
    "chocolate",
    "carrotbread",
    "jeloncookieMFM",
    "honeyglazedhamMFM",
    "piodiaMFM",
    "raisincookieMFM",
    "stuffedtomato",
    "jerkyalienmeatMFM",
    "cookedshrimpMFM",
    "sugarcookieMFM",
    "cookedkelpMFM",
    "applecrumble",
    "veggieburgerMFM",
    "jelonbreadMFM",
    "roastedpeanutMFM",
    "cookedsausageokaraMFM",
    "unfinishedcakecarrotMFM",
    "browniejelonMFM",
    "cookeddirturchinMFM",
    "raisinsMFM",
    "cookedeelMFM",
    "chocolateliquorMFM",
    "cookeddiodiaMFM",
    "cookedham",
    "caramelsquareMFM",
    "cookedtunaMFM",
    "unfinishedcakeappleanarchyMFM",
    "roastedmushrooms",
    "browniechocolateMFM",
    "unfinishedcakechocolateMFM",
    "breadokaracornMFM",
    "baconpancakes",
    "cocoanibsMFM",
    "toastedmarshmallowMFM",
    "cookedalienmeat",
    "piepumpkinMFM",
    "pieraspberryMFM",
    "cookedfish",
    "stuffedautomato",
    "toxictart",
    "driedautomatoMFM",
    "beakseedbread",
    "bakedpotato",
    "brineapple",
    "cupcakewhitechocolateMFM",
    "grilledasparagusMFM",
    "eggybreadMFM",
    "bakedsweetpotatoMFM",
    "chocolatecoveredbaconMFM",
    "bananacon",
    "grilledonionMFM",
    "pizza",
    "cookedcoralcreepMFM",
    "pieblueberryMFM",
    "popcorn",
    "chocolatecookieMFM",
    "stuffedbellpeppergreenMFM"
  ]
}