{
  "possibleOutput" : [
    "tomatosoup",
    "peanutbutterMFM",
    "toppingsweetcrumbMFM",
    "icingchocolateMFM",
    "puddingMFM",
    "mangojuiceMFM",
    "desertsalsa",
    "halfandhalfMFM",
    "limejuiceMFM",
    "coralcreepjuiceMFM",
    "whitechocolateMFM",
    "mixcakecarrotMFM",
    "relish",
    "darkchocolateMFM",
    "carrotsoup",
    "chocolatemilkMFM",
    "grapejuice",
    "neonmelonjuiceMFM",
    "mixcakechocolateMFM",
    "foulcocktailMFM",
    "cactusjuice",
    "ultimatejuice",
    "tropicalpunch",
    "milkshakestrawberryMFM",
    "liquidmilk",
    "volcanicsalsa",
    "luckydip",
    "grassy",
    "icinglemonMFM",
    "bloodypuss",
    "mixbreadmushroomMFM",
    "toxicjuice",
    "pureepumpkinMFM",
    "doughMFM",
    "coconutmilk",
    "carbonatedwaterMFM",
    "toppinghoneyappleraisinMFM",
    "cookiedoughMFM",
    "eggplantjuiceMFM",
    "pozest",
    "redapplejuiceMFM",
    "batterdessertMFM",
    "ketchupMFM",
    "oceansalsa",
    "bologneseMFM",
    "sugarcanejuiceMFM",
    "mixbreadokaracornMFM",
    "mixbreadbeakseedMFM",
    "jellyblackberryMFM",
    "marshmallowMFM",
    "grapefruitjuiceMFM",
    "yellowfoodcolorMFM",
    "pussMFM",
    "milkshakevanillaMFM",
    "brownsugarMFM",
    "mixcakeappleanarchyMFM",
    "milk",
    "carrotjuice",
    "pineapplejuice",
    "mustardMFM",
    "goldensyrupMFM",
    "kiwijuice",
    "reefshake",
    "soymilkMFM",
    "oculemonade",
    "avesmingojuice",
    "mixcakespookyMFM",
    "jellyjelonMFM",
    "jellyraspberryMFM",
    "unfinishedcrunchyokaracarobolaMFM",
    "redfoodcolorMFM",
    "reefjuice",
    "jellystrawberryMFM",
    "garpberryjuiceMFM",
    "vanillaextractMFM",
    "greenapplejuiceMFM",
    "automatoshake",
    "tomatojuice",
    "cupcakebatterMFM",
    "mixcakeplainMFM",
    "milkshakewhitechocolateMFM",
    "juicewatermelonMFM",
    "jelonjuiceMFM",
    "milkshakechocolateMFM",
    "juiceeggshootMFM",
    "fondantMFM",
    "jellygrapeMFM",
    "sweetpunch",
    "orangejuiceMFM",
    "milkshakeblueberryMFM",
    "guacamoleMFM",
    "bananajuiceMFM",
    "battersimpleMFM",
    "icingcoffeeMFM",
    "toppingwhippedcreamMFM",
    "mixpancakeplainMFM",
    "dragonfruitjuiceMFM",
    "soda",
    "juiceoculemonMFM",
    "icingvanillaMFM",
    "eggnogMFM",
    "reefcola",
    "proteinshakeraspberrychocolateMFM",
    "icingspookyMFM",
    "milkshakebananaMFM",
    "chocolatepuddingMFM",
    "pureetomatoMFM",
    "pizzadoughMFM",
    "lemonjuiceMFM",
    "honeyMFM",
    "bluefoodcolorMFM",
    "juicerainbowMFM",
    "alienfruitjuice",
    "thornjuice",
    "plantsludgeMFM",
    "mixbreadcarrotMFM",
    "salsaMFM",
    "mixfruitcakeholidayMFM",
    "pussplumpudding",
    "sakeMFM",
    "mixomelettebachmuMFM",
    "jellyblueberryMFM",
    "toxictopjuiceMFM",
    "feathercrownjuiceMFM"
  ]
}