{
  "possibleOutput" : [
    "creamfillingbananaMFM",
    "meatdumplings",
    "boiledlettuceMFM",
    "stewmountainmanMFM",
    "boiledkiwiMFM",
    "liquidwater",
    "oceanrisotto",
    "porridge",
    "boiledbellpepperredMFM",
    "steamedlobsterMFM",
    "hothothotpot",
    "boiledbrusselsproutMFM",
    "boiledturnipMFM",
    "boiledgarlicMFM",
    "pineapplejam",
    "boiledalienfruitMFM",
    "boiledsoybeansMFM",
    "boiledwartweedMFM",
    "saltMFM",
    "borschtMFM",
    "boiledtomatoMFM",
    "wartweedstew",
    "pastabananaMFM",
    "brothphoMFM",
    "2kbpotage",
    "creamfillingspookyMFM",
    "boiledbellpepperyellowMFM",
    "mixfondantMFM",
    "tofuMFM",
    "boiledblueberriesMFM",
    "boiledthornfruitMFM",
    "wartweedjam",
    "reefpodsurprise",
    "stockvegetableMFM",
    "soupherbMFM",
    "mashedsweetpotatoMFM",
    "boiledboltbulbMFM",
    "mashedpotato",
    "currytofuMFM",
    "pearlpeajam",
    "souppumpkinMFM",
    "sauceteriyakiMFM",
    "boiledautomatoMFM",
    "saucespaghettibologneseMFM",
    "boiledeggshootMFM",
    "pearlpearisotto",
    "boiledcauliflowerMFM",
    "boiledbonebooMFM",
    "boiledpineappleMFM",
    "mixproteinbarraspberrychocolateMFM",
    "corncob",
    "boiledtoxictopMFM",
    "neonmelonjam",
    "tamariMFM",
    "boiledjalapenopepperMFM",
    "creamfillingcoconutMFM",
    "ricepudding",
    "boiledcarrotMFM",
    "alienfruitjam",
    "gumboMFM",
    "mushroomsoupMFM",
    "boiledmushroomMFM",
    "instantnoodlesMFM",
    "boiledgrapefruitMFM",
    "meatstew",
    "boiledavesmingoMFM",
    "boiledfeathercrownMFM",
    "boiledbroccoliMFM",
    "boileddirturchinMFM",
    "boiledstrawberryMFM",
    "stewedapplesMFM",
    "toxictopjam",
    "boiledradishMFM",
    "boiledrutabagaMFM",
    "hotchocolateMFM",
    "honeyglazeMFM",
    "boiledparsnipMFM",
    "boiledoculemonMFM",
    "pastatomatoMFM",
    "boiledredappleMFM",
    "fishstew",
    "boiledbeakseedMFM",
    "boiledpearlpeas",
    "boiledpussplumMFM",
    "boiledorangeMFM",
    "pastaautomatoMFM",
    "boiledmangoMFM",
    "boiledrice",
    "boileddiodiaMFM",
    "soupvoltboltMFM",
    "saucesoyMFM",
    "boiledreefpodMFM",
    "creamfillingoculemonMFM",
    "creamfillingbasicMFM",
    "pearlpeabroth",
    "boiledkelpMFM",
    "boiledsugarbeetMFM",
    "boiledlemonMFM",
    "boiledlimeMFM",
    "boiledsweetpotatoMFM",
    "boiledbananaMFM",
    "boiledbellpeppergreenMFM",
    "beakseedjam",
    "pussplumjam",
    "fishsoupMFM",
    "boiledgreenappleMFM",
    "fishdumplings",
    "boiledbeetMFM",
    "boiledneonmelonMFM",
    "condensedmilkMFM",
    "oculemonstew",
    "boiledchiliMFM",
    "boiledartichokeMFM",
    "automatostew",
    "cornflourMFM",
    "pastaplainMFM",
    "boiledgreenbeansMFM",
    "eyebowls",
    "boiledasparagusMFM",
    "boiledgrapesMFM",
    "lollipopMFM",
    "curryriceMFM",
    "soggysack",
    "boiledonionMFM",
    "boiledcurrentcornMFM",
    "boiledgingerMFM",
    "boiledcoralcreepMFM",
    "hardboiledeggMFM",
    "boiledcrystalplantMFM",
    "feathercrownjam",
    "cornsyrupMFM",
    "pastabutteredMFM",
    "coralcreepcurry",
    "boiledcucumberMFM",
    "macncheeseMFM",
    "kiwijam",
    "boileddragonfruitMFM",
    "boiledpotatoMFM",
    "boiledbellpepperorangeMFM"
  ]
}