{
  "possibleOutput" : [
    "cannedplantsludgeMFM",
    "beakseed",
    "cannedredappleMFM",
    "cannedpearlpeaMFM",
    "cannedboltbulbMFM",
    "boltbulb",
    "cannedtomatoMFM",
    "cherryMFM",
    "rawcannedfishMFM",
    "banana",
    "grapes",
    "carrot",
    "cannedwatermelonMFM",
    "potato",
    "cannedpastaMFM",
    "cannedstrawberryMFM",
    "plantsludgeMFM",
    "cannedcarrotMFM",
    "pastaplainMFM",
    "cannedbeakseedMFM",
    "rawfish",
    "strawberryMFM",
    "cannedbananaMFM",
    "automato",
    "redapple",
    "cannedgreenappleMFM",
    "tomato",
    "cannedpotatoMFM",
    "cannedgrapesMFM",
    "cannedautomatoMFM",
    "cannedcherryMFM",
    "watermelonMFM",
    "pearlpea",
    "greenapple"
  ]
}