{
  "possibleOutput" : [
    "choppedasparagusMFM",
    "rawstripoffishMFM",
    "choppedcucumberMFM",
    "choppedorangeMFM",
    "choppedartichokeMFM",
    "choppedcherryMFM",
    "choppedfeathercrownMFM",
    "choppeddiodiaMFM",
    "choppedbellpepperorangeMFM",
    "choppedbananaMFM",
    "choppedrawbaconMFM",
    "breadcrumbsMFM",
    "choppeddirturchinMFM",
    "choppeddragonfruitMFM",
    "choppedgrapefruitMFM",
    "choppedcurrentcornMFM",
    "choppedbonebooMFM",
    "cheesesliceMFM",
    "choppedgrapesMFM",
    "choppedwartweedMFM",
    "choppedstrawberryMFM",
    "choppedpearlpeaMFM",
    "choppedsageleafMFM",
    "choppedfinkelMFM",
    "choppedgingerMFM",
    "choppedcactiMFM",
    "choppedbellpepperyellowMFM",
    "choppedcornMFM",
    "choppedmangoMFM",
    "choppedautomatoMFM",
    "choppedwatermelonMFM",
    "choppedgreenbeanMFM",
    "choppedflytrapmeatMFM",
    "breadsliceMFM",
    "choppedeggplantMFM",
    "choppedceleryMFM",
    "choppedgreenappleMFM",
    "choppedpotatoMFM",
    "choppedjelonMFM",
    "choppedtoxictopMFM",
    "choppedboltbulbMFM",
    "choppedeggMFM",
    "choppedlemonMFM",
    "choppedlimeMFM",
    "choppedeggshootMFM",
    "choppedcrystalplantMFM",
    "choppedblueberriesMFM",
    "8gbpizzap",
    "choppedbeetMFM",
    "choppedchiliMFM",
    "choppedbroccoliMFM",
    "rawstripofalienmeatMFM",
    "choppedturnipMFM",
    "choppedgarlicMFM",
    "choppedreefpodMFM",
    "choppedparsnipMFM",
    "choppedrutabagaMFM",
    "choppedkelpMFM",
    "choppedmushroomMFM",
    "choppedoculemonMFM",
    "choppedredappleMFM",
    "choppedcauliflowerMFM",
    "choppedbeakseedMFM",
    "choppedpussplumMFM",
    "choppedpumpkinMFM",
    "choppedpricklypearMFM",
    "choppedtomatoMFM",
    "choppedpineappleMFM",
    "choppedonionMFM",
    "choppedparsleyleafMFM",
    "choppedthymeMFM",
    "choppedcoralcreepMFM",
    "choppedgarpberryMFM",
    "rawstripofpoultryMFM",
    "choppedavesmingoMFM",
    "choppedcoconutMFM",
    "choppedavocadoMFM",
    "choppedalienfruitMFM",
    "oatgrainsMFM",
    "choppedvanillabeanMFM",
    "choppedpalsterstickMFM",
    "pizzaslicepinanaMFM",
    "choppedbellpepperredMFM",
    "choppedbrusselsproutMFM",
    "choppedblackberriesMFM",
    "choppedkiwiMFM",
    "choppedcarrotMFM",
    "choppedshadowbulbMFM",
    "gariMFM",
    "choppedrosemaryleafMFM",
    "piodia",
    "choppedneonmelonMFM",
    "choppedlettuceMFM",
    "choppedthornfruitMFM",
    "choppedraspberriesMFM",
    "pizzaslice",
    "choppedsugarbeetMFM",
    "choppedholidayfruitMFM",
    "choppedsweetpotatoMFM",
    "choppedjalapenopepperMFM",
    "choppedscallionMFM",
    "choppedradishMFM",
    "choppedbellpeppergreenMFM",
    "choppedcorianderMFM"
  ]
}