{
  "possibleOutput" : [
    "icecreamcactiMFM",
    "icecreamgarpberryMFM",
    "bananasplit",
    "icecreamchocolateMFM",
    "icecreamvanillaMFM",
    "avesmingoicecream",
    "icecreamcoconutMFM",
    "bonbonbonbons",
    "icecreameggshootMFM",
    "ice",
    "bonbons",
    "snowconeblueMFM",
    "proteinbarraspberrychocolateMFM",
    "snowconeyellowMFM",
    "snowconeredMFM",
    "snowcone",
    "icecreambananaMFM",
    "icecreamchocolateswirlMFM",
    "icecreamvanillachocolatechipMFM"
  ]
}