{
  "possibleOutput" : [
    "fishfingers",
    "fluffyruffs",
    "hashbrownspotatoMFM",
    "cookedalienmeatpattyMFM",
    "frenchfriesMFM",
    "potatogrids",
    "cookedbannockMFM",
    "friedshroomMFM",
    "chocolatefrenchtoastMFM",
    "sunnysideupMFM",
    "sweetpotatofriesMFM",
    "batteredbanana",
    "steamedbroccoliMFM",
    "cinnamonfrenchtoastMFM",
    "pearlpeapancakes",
    "burningeyeballs",
    "apexfritter",
    "caramelMFM",
    "tofufriedriceMFM",
    "chipspotatoMFM",
    "basecrepeMFM",
    "friedfishMFM",
    "tamagoyakiMFM",
    "pancakesplainMFM",
    "scrambledeggMFM",
    "sandwichgrilledcheeseMFM",
    "cookedsoyburgersupremepattyMFM",
    "friedbananaMFM",
    "donutplainMFM",
    "frenchtoastMFM",
    "omelette",
    "friedchickenMFM",
    "steamedcauliflowerMFM",
    "cookedsausagealienpoultryMFM",
    "friedeggMFM",
    "hashbrownssweetpotatoMFM",
    "corndogsteakandpoultryMFM",
    "shrimptempuraMFM",
    "donutplainchocolateMFM",
    "donutplainspookyMFM",
    "mushroomrice",
    "steamedpeasMFM",
    "freshpopcornMFM",
    "cookedbacon",
    "friedgarpberrysMFM",
    "wafflesMFM"
  ]
}