{
  "possibleOutput" : [
    "bakingpowderMFM",
    "groundgarlicMFM",
    "sugar",
    "groundcinnamonMFM",
    "groundnutmegMFM",
    "groundcloveMFM",
    "blackpepperMFM",
    "groundjelonMFM",
    "flourMFM",
    "cocoapowderMFM",
    "groundparsleyMFM",
    "groundcoffeeMFM",
    "groundgingerMFM",
    "cornmealMFM",
    "mustardpowderMFM"
  ]
}