{
  "recipesCraftFrom" : {
    "kiwi" : [ "pressedkiwiMFM" ],
    "sunflowerMFMseed" : [ "cookingoilMFM" ],
    "tamariMFM" : [ "rawsausageokaraMFM" ],
    "choppedpumpkinMFM" : [ "cookingoilMFM" ],
    "doughMFM" : [ "pielidMFM" ],
    "alienfruit" : [ "pressedalienfruitMFM" ],
    "yeastMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofpoultryMFM" : [ "rawsausagealienpoultryMFM" ],
    "seedoilMFM" : [ "cookingoilMFM" ],
    "molassesMFM" : [ "rawsausageokaraMFM" ],
    "rawstripofalienmeatMFM" : [ "rawsausagealienpoultryMFM" ],
    "liquidwater" : [ "rawsausageokaraMFM" ],
    "groundgarlicMFM" : [ "rawsausageokaraMFM" ],
    "groundparsleyMFM" : [ "rawsausageokaraMFM" ],
    "pearlpea" : [ "pressedpearlpeaMFM" ],
    "saltMFM" : [ "rawsausageokaraMFM" ],
    "wheatseed" : [ "cookingoilMFM" ],
    "flourMFM" : [ "rawsausageokaraMFM" ],
    "cottonseed" : [ "cookingoilMFM" ],
    "chocolateliquorMFM" : [ "cocoabutterMFM" ],
    "plantfibre" : [ "plantmushMFM" ],
    "toxictop" : [ "pressedtoxictopMFM" ],
    "rattannutMFM" : [ "cookingoilMFM" ],
    "neonmelon" : [ "pressedneonmelonMFM" ],
    "feathercrown" : [ "pressedfeathercrownMFM" ],
    "cornseed" : [ "cookingoilMFM" ],
    "wartweed" : [ "pressedwartweedMFM" ],
    "peanutshelledMFM" : [ "cookingoilMFM" ],
    "pineapple" : [ "pressedpineappleMFM" ],
    "boiledsoybeansMFM" : [ "okaraMFM" ],
    "beakseed" : [ "pressedbeakseedMFM" ],
    "okaraMFM" : [ "rawsausageokaraMFM" ],
    "pussplum" : [ "pressedpussplumMFM" ],
    "cookingoilMFM" : [ "rawsausageokaraMFM" ],
    "sugar" : [ "molassesMFM" ],
    "choppedonionMFM" : [ "rawsausageokaraMFM" ]
  },
  "recipesToCraft" : {
    "pressedpussplumMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedpussplumMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "pussplum" : {
              "displayName" : "Pussplum",
              "count" : 1,
              "icon" : "pussplum.png",
              "id" : "pussplum"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Pussplum",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Pussplum (PRESS)",
      "icon" : "pressedpussplumMFM.png"
    },
    "pressedpineappleMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedpineappleMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "pineapple" : {
              "displayName" : "Pineapple",
              "count" : 1,
              "icon" : "pineappleicon.png",
              "id" : "pineapple"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Pineapple",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Pineapple (PRESS)",
      "icon" : "pressedpineappleMFM.png"
    },
    "cocoabutterMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cocoabutterMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "chocolateliquorMFM" : {
              "displayName" : "Chocolate Liquor - Plain",
              "count" : 1,
              "icon" : "chocolateliquorplainMFMicon.png",
              "id" : "chocolateliquorMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Cocoa Butter",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Cocoa Butter (PRESS)",
      "icon" : "cocoabutterMFM.png"
    },
    "pressedfeathercrownMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedfeathercrownMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "feathercrown" : {
              "displayName" : "Feathercrown",
              "count" : 1,
              "icon" : "feathercrown.png",
              "id" : "feathercrown"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Feathercrown",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Feathercrown (PRESS)",
      "icon" : "pressedfeathercrownMFM.png"
    },
    "plantmushMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "plantmushMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "plantfibre" : {
              "displayName" : "Plant Fibre",
              "count" : 2,
              "icon" : "plantfibre.png",
              "id" : "plantfibre"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Plant Mush",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Plant Mush (PRESS)",
      "icon" : "plantmushMFM.png"
    },
    "pressedpearlpeaMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedpearlpeaMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "pearlpea" : {
              "displayName" : "Pearlpeas",
              "count" : 1,
              "icon" : "pearlpea.png",
              "id" : "pearlpea"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Pearlpea",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Pearlpea (PRESS)",
      "icon" : "pressedpearlpeaMFM.png"
    },
    "pressedalienfruitMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedalienfruitMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "alienfruit" : {
              "displayName" : "Alien Fruit",
              "count" : 1,
              "icon" : "alienfruit.png",
              "id" : "alienfruit"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Alienfruit",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Alienfruit (PRESS)",
      "icon" : "pressedalienfruitMFM.png"
    },
    "pressedkiwiMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedkiwiMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "kiwi" : {
              "displayName" : "Kiwi",
              "count" : 1,
              "icon" : "kiwiicon.png",
              "id" : "kiwi"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Kiwi",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Kiwi (PRESS)",
      "icon" : "pressedkiwiMFM.png"
    },
    "pressedtoxictopMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedtoxictopMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "toxictop" : {
              "displayName" : "Toxictop",
              "count" : 1,
              "icon" : "toxictop.png",
              "id" : "toxictop"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Toxictop",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Toxictop (PRESS)",
      "icon" : "pressedtoxictopMFM.png"
    },
    "pressedneonmelonMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedneonmelonMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "neonmelon" : {
              "displayName" : "Neonmelon",
              "count" : 1,
              "icon" : "neonmelon.png",
              "id" : "neonmelon"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Neonmelon",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Neonmelon (PRESS)",
      "icon" : "pressedneonmelonMFM.png"
    },
    "pressedbeakseedMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedbeakseedMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "beakseed" : {
              "displayName" : "Beakseed",
              "count" : 1,
              "icon" : "beakseed.png",
              "id" : "beakseed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Beakseed",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Beakseed (PRESS)",
      "icon" : "pressedbeakseedMFM.png"
    },
    "okaraMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "okaraMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "boiledsoybeansMFM" : {
              "displayName" : "Boiled Soybeans",
              "count" : 1,
              "icon" : "boiledsoybeansMFM.png",
              "id" : "boiledsoybeansMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Okara",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Okara (PRESS)",
      "icon" : "okaraMFM.png"
    },
    "pressedwartweedMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pressedwartweedMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "wartweed" : {
              "displayName" : "Wartweed",
              "count" : 1,
              "icon" : "wartweed.png",
              "id" : "wartweed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Pressed Wartweed",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Pressed Wartweed (PRESS)",
      "icon" : "pressedwartweedMFM.png"
    },
    "molassesMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "molassesMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "sugar" : {
              "displayName" : "Sugar",
              "count" : 1,
              "icon" : "sugar.png",
              "id" : "sugar"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Molasses",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Molasses (PRESS)",
      "icon" : "molassesMFM.png"
    },
    "cookingoilMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 4
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "peanutshelledMFM" : {
              "displayName" : "Shelled Peanut",
              "count" : 1,
              "icon" : "peanutshelledMFM.png",
              "id" : "peanutshelledMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 3
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "rattannutMFM" : {
              "displayName" : "Rattan Nut",
              "count" : 1,
              "icon" : "rattannutMFM.png",
              "id" : "rattannutMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 5
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "choppedpumpkinMFM" : {
              "displayName" : "Chopped Pumpkin",
              "count" : 1,
              "icon" : "choppedpumpkinMFM.png",
              "id" : "choppedpumpkinMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "cottonseed" : {
              "displayName" : "Cotton Seed",
              "count" : 2,
              "icon" : "cottonseedicon.png",
              "id" : "cottonseed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "wheatseed" : {
              "displayName" : "Wheat Seed",
              "count" : 4,
              "icon" : "wheatseedicon.png",
              "id" : "wheatseed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "cornseed" : {
              "displayName" : "Corn Seed",
              "count" : 4,
              "icon" : "cornseedicon.png",
              "id" : "cornseed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "sunflowerMFMseed" : {
              "displayName" : "Sunflower Seeds",
              "count" : 5,
              "icon" : "sunflowerMFMseedicon.png",
              "id" : "sunflowerMFMseed"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        },
        {
          "output" : {
            "name" : "cookingoilMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "seedoilMFM" : {
              "displayName" : "^gray;Seed Oil^reset;",
              "count" : 2,
              "icon" : "obsoleteSeedoilMFM.png",
              "id" : "seedoilMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Cooking Oil",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Cooking Oil (PRESS)",
      "icon" : "cookingoilMFM.png"
    },
    "rawsausagealienpoultryMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "rawsausagealienpoultryMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "rawstripofpoultryMFM" : {
              "displayName" : "Raw Strip of Poultry",
              "count" : 1,
              "icon" : "rawstripofpoultryMFM.png",
              "id" : "rawstripofpoultryMFM"
            },
            "rawstripofalienmeatMFM" : {
              "displayName" : "Raw Strip of Meat",
              "count" : 1,
              "icon" : "rawstripofalienmeatMFM.png",
              "id" : "rawstripofalienmeatMFM"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Raw Sausage",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Raw Sausage (PRESS)",
      "icon" : "rawsausagealienpoultryMFM.png"
    },
    "pielidMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "pielidMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "doughMFM" : {
              "displayName" : "Dough",
              "count" : 1,
              "icon" : "doughMFM.png",
              "id" : "doughMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Dough - Pie Lid",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Dough - Pie Lid (PRESS)",
      "icon" : "pielidMFM.png"
    },
    "rawsausageokaraMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "rawsausageokaraMFM",
            "count" : 1
          },
          "displayMethods" : " (PRESS)",
          "input" : {
            "tamariMFM" : {
              "displayName" : "Tamari",
              "count" : 1,
              "icon" : "tamariMFM.png",
              "id" : "tamariMFM"
            },
            "saltMFM" : {
              "displayName" : "Salt",
              "count" : 1,
              "icon" : "saltMFM.png",
              "id" : "saltMFM"
            },
            "flourMFM" : {
              "displayName" : "Flour",
              "count" : 2,
              "icon" : "flourMFM.png",
              "id" : "flourMFM"
            },
            "okaraMFM" : {
              "displayName" : "Okara",
              "count" : 4,
              "icon" : "okaraMFM.png",
              "id" : "okaraMFM"
            },
            "molassesMFM" : {
              "displayName" : "Molasses",
              "count" : 1,
              "icon" : "molassesMFM.png",
              "id" : "molassesMFM"
            },
            "cookingoilMFM" : {
              "displayName" : "Cooking Oil",
              "count" : 1,
              "icon" : "cookingoilMFM.png",
              "id" : "cookingoilMFM"
            },
            "yeastMFM" : {
              "displayName" : "Yeast",
              "count" : 1,
              "icon" : "yeastMFM.png",
              "id" : "yeastMFM"
            },
            "liquidwater" : {
              "displayName" : "Water",
              "count" : 1,
              "icon" : "liquidwatericon.png",
              "id" : "liquidwater"
            },
            "groundgarlicMFM" : {
              "displayName" : "Ground Garlic",
              "count" : 1,
              "icon" : "groundgarlicMFM.png",
              "id" : "groundgarlicMFM"
            },
            "groundparsleyMFM" : {
              "displayName" : "Ground Parsley",
              "count" : 1,
              "icon" : "groundparsleyMFM.png",
              "id" : "groundparsleyMFM"
            },
            "choppedonionMFM" : {
              "displayName" : "Chopped Onion",
              "count" : 1,
              "icon" : "choppedonionMFM.png",
              "id" : "choppedonionMFM"
            }
          },
          "excludeFromRecipeBook" : false,
          "methods" : { "pressingMFM" : "PRESS" },
          "groups" : [ "pressingMFM" ]
        }
      ],
      "displayName" : "Raw Sausage - Okara",
      "methods" : { "pressingMFM" : "PRESS" },
      "displayNameWithMethods" : "Raw Sausage - Okara (PRESS)",
      "icon" : "rawsausageokaraMFM.png"
    }
  },
  "possibleOutput" : [ "pressedtoxictopMFM", "pressedpearlpeaMFM", "pressedfeathercrownMFM", "cookingoilMFM", "pressedpussplumMFM", "cocoabutterMFM", "rawsausageokaraMFM", "okaraMFM", "pressedpineappleMFM", "pielidMFM", "pressedneonmelonMFM", "plantmushMFM", "pressedalienfruitMFM", "molassesMFM", "rawsausagealienpoultryMFM", "pressedkiwiMFM", "pressedbeakseedMFM", "pressedwartweedMFM" ]
}