{
  "possibleOutput" : [
    "pressedtoxictopMFM",
    "pressedpearlpeaMFM",
    "pressedfeathercrownMFM",
    "cookingoilMFM",
    "pressedpussplumMFM",
    "cocoabutterMFM",
    "rawsausageokaraMFM",
    "okaraMFM",
    "pressedpineappleMFM",
    "pielidMFM",
    "pressedneonmelonMFM",
    "plantmushMFM",
    "pressedalienfruitMFM",
    "molassesMFM",
    "rawsausagealienpoultryMFM",
    "pressedkiwiMFM",
    "pressedbeakseedMFM",
    "pressedwartweedMFM"
  ]
}