{
  "possibleOutput" : [
    "blockneonmelonMFM",
    "reedMFMseed",
    "freezingstationCNYC",
    "glitchfreezingstationCNYC",
    "bambooMFMseed",
    "blackberryMFMseed",
    "hylotlcoffeestationCNYC",
    "choppingstationMFM",
    "recipebookMFM",
    "fryingstationMFM",
    "strawberryMFMseed",
    "novakidfreezingstationCNYC",
    "glitchfryingstationCNYC",
    "nanochoppingstationCNYC",
    "novakidcoffeestationCNYC",
    "softblocksugarMFM",
    "blocksugarcaneMFM",
    "blockchocolatedarkMFM",
    "freezerMFM",
    "glitchwaterstationCNYC",
    "avianbakingstationCNYC",
    "avianchoppingstationCNYC",
    "blockpumpkinMFM",
    "hylotlchoppingstationCNYC",
    "makeshiftgrindingstationCNYC",
    "nanopurifierstationCNYC",
    "novakidwaterstationCNYC",
    "nanowaterstationCNYC",
    "blendingstationCNYC",
    "avianboilingstationCNYC",
    "glitchblendingstationCNYC",
    "avianpurifierstationCNYC",
    "floranpurifierstationCNYC",
    "softblocktoffeeMFM",
    "glitchbakingstationCNYC",
    "makeshiftboilingstationCNYC",
    "hylotlfryingstationCNYC",
    "hylotlwaterstationCNYC",
    "hylotlpurifierstationCNYC",
    "bakingstationCNYC",
    "nanofreezingstationCNYC",
    "novakidblendingstationCNYC",
    "hylotlfreezingstationCNYC",
    "boilingstationCNYC",
    "novakidfryingstationCNYC",
    "avianfreezingstationCNYC",
    "peanutMFMseed",
    "aviancoffeestationCNYC",
    "nanoboilingstationCNYC",
    "makeshiftchoppingstationCNYC",
    "raspberryMFMseed",
    "hylotlbakingstationCNYC",
    "gingerMFMseed",
    "blockchocolatewhiteMFM",
    "nanobakingstationCNYC",
    "coffeestationCNYC",
    "hylotlboilingstationCNYC",
    "glitchchoppingstationCNYC",
    "blockjelonMFM",
    "novakidboilingstationCNYC",
    "blockchocolateplainMFM",
    "avianwaterstationCNYC",
    "glitchcoffeestationCNYC",
    "apexpurifierstationCNYC",
    "cucumberMFMseed",
    "novakidbakingstationCNYC",
    "novakidchoppingstationCNYC",
    "nanoblendingstationCNYC",
    "glitchboilingstationCNYC",
    "money",
    "glitchpurifierstationCNYC",
    "waterstationCNYC",
    "avianblendingstationCNYC",
    "purifierstationMFM",
    "nanocoffeestationCNYC",
    "avianfryingstationCNYC",
    "hylotlblendingstationCNYC",
    "blueberryMFMseed",
    "novakidpurifierstationCNYC"
  ]
}