{
  "recipesCraftFrom" : {
    "dirtyceramicplateMFM" : [ "ceramicplateMFM" ],
    "bottle" : [ "bottledwater" ]
  },
  "recipesToCraft" : {
    "bottledwater" : {
      "recipes" : [
        {
          "output" : {
            "name" : "bottledwater",
            "count" : 1
          },
          "displayMethods" : " (UNKNOWN)",
          "input" : {
            "bottle" : {
              "displayName" : "Empty Bottle",
              "count" : 1,
              "icon" : "bottle.png",
              "id" : "bottle"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { },
          "groups" : [ ]
        }
      ],
      "displayName" : "Bottled Water",
      "methods" : { },
      "displayNameWithMethods" : "Bottled Water (UNKNOWN)",
      "icon" : "bottledwater.png"
    },
    "ceramicplateMFM" : {
      "recipes" : [
        {
          "output" : {
            "name" : "ceramicplateMFM",
            "count" : 1
          },
          "displayMethods" : " (UNKNOWN)",
          "input" : {
            "dirtyceramicplateMFM" : {
              "displayName" : "Dirty Plate",
              "count" : 1,
              "icon" : "dirtyceramicplateMFM.png",
              "id" : "dirtyceramicplateMFM"
            }
},
          "excludeFromRecipeBook" : false,
          "methods" : { },
          "groups" : [ ]
        }
      ],
      "displayName" : "Plate",
      "methods" : { },
      "displayNameWithMethods" : "Plate (UNKNOWN)",
      "icon" : "ceramicplateMFM.png"
    }
  },
  "possibleOutput" : [ "bottledwater", "ceramicplateMFM" ]
}