{
  "scripts" : [ "/interface/scripted/recipeCrafterMFM/recipeCrafterMFMgui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "craft",
    "filterByName",
    "filterByInput",
    "filterByHasIngredients",
    "onItemSelected",
    "toggleDebug",
    "dummy"
  ],
  
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [334, 226]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/recipeCrafterMFM/recipecrafterheaderMFM.png",
      "fileBody" : "/interface/scripted/recipeCrafterMFM/recipecrafterbodyMFM.png",
      "fileFooter" : "/interface/scripted/recipeCrafterMFM/recipecrafterfooterMFM.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [8, -26],
      "zlevel" : -10
    },
    "toggleDebug" : {
      "type": "button",
      "checkable" : true,
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checked" : false,
      "position" : [5, 7],
      "zlevel" : 1
    },
    "lblDebug" : {
      "type" : "label",
      "position" : [15, 7],
      "hAnchor" : "left",
      "value" : "DEBUG"
    },
    
    "recipeBookFrame" : {
      "type" : "layout",
      "visible" : true,
      "layoutType" : "basic",
      // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
      "rect" : [0, 0, 350, 245],
      "zLevel" : 20,
      "children" : {
        "lblItem" : {
          "type" : "label",
          "position" : [85, 209],
          "hAnchor" : "mid",
          "value" : "^#b9b5b2;ITEMS"
        },
        "lblRecipesAndIngredients" : {
          "type" : "label",
          "position" : [260, 209],
          "hAnchor" : "mid",
          "value" : "^#b9b5b2;RECIPES & INGREDIENTS"
        },
        "description" : {
          "type" : "widget",
          "position" : [253, 13],
          "size" : [140, 219]
        },
        "filterByHasIngredients" : {
          "type" : "button",
          "base" : "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
          "checkable" : true,
          "checked" : false,
          "position" : [25, 43]
        },
        "lblIngredientsAvailable" : {
          "type" : "label",
          "position" : [35, 43],
          "hAnchor" : "left",
          "value" : "INGREDIENTS AVAILABLE"
        },
        "filterByName" : {
          "type" : "textbox",
          "position" : [18, 27],
          "textAlign" : "left",
          "hint" : "Item by NAME",
          "maxWidth" : 60,
          "callback" : "dummy",
          "enterKey" : "filterByName"
        },
        "filterByInput" : {
          "type" : "textbox",
          "position" : [99, 27],
          "textAlign" : "left",
          "hint" : "Item by INPUT",
          "maxWidth" : 60,
          "callback" : "dummy",
          "enterKey" : "filterByInput"
        },

        "itemList" : {
          "type" : "scrollArea",
          // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
          "rect" : [3, 53, 173, 204],
          "children" : {
            "empty" : {
              "type" : "label",
              "position" : [4, 165],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^blue;No recipes found^reset; using the current filters. (^green;Try different filters^reset; ^cyan;below^reset;)",
              "visible" : false
            },
            "norecipebook" : {
              "type" : "label",
              "position" : [4, 165],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;No recipe book found^reset;. Try placing a recipe book nearby.",
              "visible" : false
            },
            "itemList" : {
              "type" : "list",
              "scissoring" : false,
              "callback" : "onItemSelected",
              "schema" : {
                "selectedBG" : "/interface/scripted/shared/MFM/craftableselectedMFM.png",
                "unselectedBG" : "/interface/scripted/shared/MFM/craftablebackgroundMFM.png",
                "spacing" : [0, 1],
                "memberSize" : [159, 25],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/scripted/shared/MFM/craftablebackgroundMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1
                  },
                  "itemIcon" : {
                    "type" : "image",
                    "position" : [4, 5],
                    "zlevel" : 1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [25, 20],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "value" : "If you see this, tell the author!",
                    "zlevel" : 1
                  },
                  "notcraftableoverlay" : {
                    "type" : "image",
                    "file" : "/interface/scripted/shared/MFM/notcraftableoverlayMFM.png",
                    "position" : [2, 0],
                    "zlevel" : 2,
                    "visible" : false
                  }
                }
              }
            }
          }
        },

        "ingredientList" : {
          "type" : "scrollArea",
          // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
          "rect" : [176, 112, 346, 204],
          "children" : {
            "empty" : {
              "type" : "label",
              "position" : [4, 165],
              "wrapWidth" : 157,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;Select an item^reset;. A list of Recipes and the Ingredients to make them will appear here.",
              "visible" : false
            },
            "norecipebook" : {
              "type" : "label",
              "position" : [4, 165],
              "wrapWidth" : 157,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;No recipe book found^reset;. Try placing a recipe book nearby.",
              "visible" : false
            },
            "ingredientItemList" : {
              "type" : "list",
              "scissoring" : false,
              "callback" : "dummy",
              "schema" : {
                "spacing" : [0, 1],
                "memberSize" : [159, 25],
                "listTemplate" : {
                  "selectedBackground" : {
                    "type" : "image",
                    "file" : "/interface/scripted/shared/MFM/craftableselectedMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1,
                    "visible" : false
                  },
                  "unselectedBackground" : {
                    "type" : "image",
                    "file" : "/interface/scripted/shared/MFM/craftablebackgroundMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1
                  },
                  "itemIcon" : {
                    "type" : "image",
                    "position" : [4, 5],
                    "zlevel" : 1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [25, 20],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 90,
                    "value" : "If you see this, tell the author!"
                  },
                  "countLabel" : {
                    "type" : "label",
                    "position" : [120, 22],
                    "wrapWidth" : 50,
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "value" : ""
                  },
                  "notcraftableoverlay" : {
                    "type" : "image",
                    "file" : "/interface/scripted/shared/MFM/notcraftableoverlayMFM.png",
                    "position" : [2, 0],
                    "zlevel" : 2,
                    "visible" : false
                  }
                }
              }
            }
          }
        }
      }
    },
    
    "lblIngredients" : {
      "type" : "label",
      "position" : [242, 88],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [318, 88],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;OUTPUT"
    },
    "lblByproduct" : {
      "type" : "label",
      "position" : [318, 48],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BYPRODUCT"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [190, 28],
      "dimensions" : [5, 3],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointerTop" : {
      "type" : "image",
      "position" : [294, 71],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    //"pointerMid" : {
    //  "type" : "image",
    //  "position" : [301, 45],
    //  "file" : "/interface/objectcrafting/arrow.png"
    //},
    "pointerBottom" : {
      "type" : "image",
      "position" : [294, 31],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [309, 28],
      "dimensions" : [1, 2],
      "slotOffset": 15,
      "spacing" : [20, 40],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "craft" : {
      "type": "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [287, 4],
      "caption": "MAKE"
    }
  }
}
