{
  "scripts" : [ "/interface/scripted/recipebookMFM/recipebookMFMgui.lua", "/interface/scripted/recipeCrafterMFM/recipeCrafterMFMgui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "craft",
    "filterByName",
    "filterByInput",
    "onFoodSelected",
    "toggleDebug",
    "dummy"
  ],
  
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [334, 220]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/MFM/shared/recipecrafterheaderMFM.png",
      "fileBody" : "/interface/crafting/MFM/shared/recipecrafterbodyMFM.png",
      "fileFooter" : "/interface/crafting/MFM/shared/recipecrafterfooterMFM.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [8, -20],
      "zlevel" : -10
    },
    "toggleDebug" : {
      "type": "button",
      "checkable" : true,
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checked" : false,
      "position" : [5, 4],
      "zlevel" : 1
    },
    "lblDebug" : {
      "type" : "label",
      "position" : [15, 4],
      "hAnchor" : "left",
      "value" : "DEBUG"
    },
    
    "recipeBookFrame" : {
      "type" : "layout",
      "visible" : true,
      "layoutType" : "basic",
      "rect" : [0, 0, 350, 239],
      "zLevel" : 20,
      "children" : {
        "lblFood" : {
          "type" : "label",
          "position" : [85, 203],
          "hAnchor" : "mid",
          "value" : "^#b9b5b2;FOOD"
        },
        "lblRecipesAndIngredients" : {
          "type" : "label",
          "position" : [260, 203],
          "hAnchor" : "mid",
          "value" : "^#b9b5b2;RECIPES & INGREDIENTS"
        },
        "description" : {
          "type" : "widget",
          "position" : [253, 7],
          "size" : [140, 219]
        },
        "filterByName" : {
          "type" : "textbox",
          "position" : [18, 21],
          "textAlign" : "left",
          "hint" : "Food by NAME",
          "maxWidth" : 60,
          "callback" : "dummy",
          "enterKey" : "filterByName"
        },
        "filterByInput" : {
          "type" : "textbox",
          "position" : [99, 21],
          "textAlign" : "left",
          "hint" : "Food by INPUT",
          "maxWidth" : 60,
          "callback" : "dummy",
          "enterKey" : "filterByInput"
        },

        "foodList" : {
          "type" : "scrollArea",
          // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
          "rect" : [3, 47, 173, 198],
          "children" : {
            "empty" : {
              "type" : "label",
              "position" : [4, 159],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^blue;No recipes found^reset; using the current ingredients. (^green;Try different ingredients^reset;)",
              "visible" : false
            },
            "norecipebook" : {
              "type" : "label",
              "position" : [4, 159],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;No recipe book found^reset;. Try placing a recipe book nearby.",
              "visible" : false
            },
            "foodItemList" : {
              "type" : "list",
              "scissoring" : false,
              "callback" : "onFoodSelected",
              "schema" : {
                "selectedBG" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
                "unselectedBG" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                "spacing" : [0, 1],
                "memberSize" : [159, 25],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [25, 20],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "value" : "You should see this message for only a second. If you do see it, and it doesn't go away, tell the author",
                    "zlevel" : 1
                  },
                  "itemIcon" : {
                    "type" : "image",
                    "position" : [4, 5],
                    "zlevel" : 1
                  },
                  "notcraftableoverlay" : {
                    "type" : "image",
                    "file" : "/interface/crafting/MFM/shared/notcraftableoverlayMFM.png",
                    "position" : [2, 0],
                    "zlevel" : 2,
                    "visible" : false
                  }
                }
              }
            }
          }
        },

        "ingredientList" : {
          "type" : "scrollArea",
          // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
          "rect" : [176, 106, 346, 198],
          "children" : {
            "empty" : {
              "type" : "label",
              "position" : [4, 159],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;Select a food^reset;. A list of Recipes and the Ingredients to make them will appear here.",
              "visible" : false
            },
            "norecipebook" : {
              "type" : "label",
              "position" : [4, 159],
              "wrapWidth" : 159,
              "hAnchor" : "left",
              "vAnchor" : "top",
              "value" : "^green;No recipe book found^reset;. Try placing a recipe book nearby.",
              "visible" : false
            },
            "ingredientItemList" : {
              "type" : "list",
              "scissoring" : false,
              "callback" : "dummy",
              "schema" : {
                "spacing" : [0, 1],
                "memberSize" : [159, 25],
                "listTemplate" : {
                  "selectedBackground" : {
                    "type" : "image",
                    "file" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1,
                    "visible" : false
                  },
                  "unselectedBackground" : {
                    "type" : "image",
                    "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                    "position" : [2, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [25, 20],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 80,
                    "value" : "You should see this message for only a second. If you do see it, and it doesn't go away, tell the author"
                  },
                  "itemIcon" : {
                    "type" : "image",
                    "position" : [4, 5],
                    "zlevel" : 1
                  },
                  "countLabel" : {
                    "type" : "label",
                    "position" : [110, 22],
                    "wrapWidth" : 50,
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "value" : ""
                  },
                  "notcraftableoverlay" : {
                    "type" : "image",
                    "file" : "/interface/crafting/MFM/shared/notcraftableoverlayMFM.png",
                    "position" : [2, 0],
                    "zlevel" : 2,
                    "visible" : false
                  }
                }
              }
            }
          }
        }
      }
    },
    
    "lblIngredients" : {
      "type" : "label",
      "position" : [256, 85],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [322, 40],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RESULT"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [204, 22],
      "dimensions" : [5, 3],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [303, 25],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [313, 22],
      "dimensions" : [1, 1],
      "slotOffset": 15,
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "craft" : {
      "type": "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [279, 1],
      "caption": "MAKE"
    }
  }
}
