{
  "merchantStart" : {
    "default" : {
    	"default" : [
			"I'll sell you some stuff for Chocolate Eggs if you have any.",
			"I swear I AM the real Easter Bunny! Do you have any chocolate eggs?",
			"I need chocolate eggs for Easter. If you have any, I'll sell you some Easter 'magic'.",
			"*Pant* *Pant* This suit... Uhh... I mean fur is really hot, but take a look at my wares!",
			"You have some Chocolate Eggs for me? Brilliant!",
			"Have you had luck on your Chocolate Egg hunt? Excellent!"
      ]
    }
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
            "Hopefully you find many more Eggs for me!",
            "If you find any more Chocolate Eggs in your hunt, bring them to me!",
            "Come again with more delicious Chocolate Eggs!",
            "Happy Easter! What do you mean Easter is over?!"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "Come with me, we can do business in my shop!",
	      "Come in, come in and see what I've got!"
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
	      "Welcome to my store!",
	      "Here we are. Now, how can I help you?"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Goods for sale!",
	      "Hey you, come check out my amazing wares!",
	      "Best deals around!",
	      "Cheap buys!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Something in my place has changed, I don't like it!"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "My home could use some repairs!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I thought this place was for me!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "I can't sell my wares in these conditions!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "I've had enough of this!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "I'm home!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's a gift for all your help with my shop!"
      ]
    }
  }
}
