{
  "merchantStart" : {
    "default" : {
    	"default" : [
			"I'll trade you things for Chocolate Eggs.",
			"I swear I AM the real Easter Bunny! Do you have any Chocolate Eggs?",
			"I need Chocolate Eggs for... uh... Easter, yeah that's it. If you have any, I'll trade you some Easter 'magic'.",
			"*Pant* *Pant* This suit... Uhh... I mean fur is really hot. Er... take a look at my wares!",
			"You have Chocolate Eggs for me? Brilliant!",
			"Have you had luck on your hunt for Chocolate Eggs? Excellent!"
      ]
    }
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
            "Hopefully you find many more Eggs for me!",
            "If you find any Chocolate Eggs in your hunt, bring them to me!",
            "Come back when you've got more delicious Chocolate Eggs!",
            "Happy Easter! Wait, what do you mean Easter is over!?"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "Come! Come! See what I have to offer!",
	      "Over here! Over here! See what I have!"
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
	      "Welcome to my stand!",
	      "Here we are. Now, you have Chocolate Eggs?"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Goodies for sale!",
	      "Hey you, yes you! Come check out my amazing goodies!",
	      "Best deals around!",
	      "'Cheap' buys!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Something in seems out of place, I don't like it!"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "How's a rabbit supposed to live like this!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I thought this place was for me!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "How's a rabbit supposed to live like this!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "I've had enough of this!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "I'm home!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's a gift, but don't tell them where you got it!"
      ]
    }
  }
}
