{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_furnacetech.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/crafting/cn_craftingkitchen.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Kitchen Appliance Workbench",
      "subtitle" : " ^#b9b5b2;Kitchen Appliances",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurniture.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 42],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 42],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [226, 41],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 39],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [271, 39],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [196, 35],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 36]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 29],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [60, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblGenericTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_genericbaking.png",
      "position" : [8, 223],
      "zlevel" : 3
    },
    "lblApexTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_apexbaking.png",
      "position" : [34, 222],
      "zlevel" : 3
    },
    "lblAvianTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_avianbaking.png",
      "position" : [62, 222],
      "zlevel" : 3
    },
    "lblFloranTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_floranbaking.png",
      "position" : [88, 222],
      "zlevel" : 3
    },
    "lblHylotlTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_hylotlbaking.png",
      "position" : [115, 222],
      "zlevel" : 3
    },
    "lblNovakidTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_novakidbaking.png",
      "position" : [141, 222],
      "zlevel" : 3
    },
    "lblNanoTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_nanobaking.png",
      "position" : [170, 222],
      "zlevel" : 3
    },
    "lblGlitchTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_glitchbaking.png",
      "position" : [199, 222],
      "zlevel" : 3
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [3, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "genericMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [30, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "apexMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [57, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "avianMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [84, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "floranMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [111, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "hylotlMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [138, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "novakidMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [165, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "nanoMFM", "cn_recipebook" ]
          }
        },
        {
          "position" : [192, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "glitchMFM", "cn_recipebook" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
