{
  "filter" : [ "bakingMFM",
				 "blendingMFM",
				 "boilingMFM",
				 "coffeeMFM",
				 "choppingMFM",
				 "freezingMFM",
				 "fryingMFM",
				 "purifyingMFM",
				 "handmill",
				 "handpress",
				 "juicerMFM",
				 "grinderMFM",
				 "cannerMFM",
				 "butterchurn",
				 "distilleryMFM",
				 "juicekeg" ],
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_cooking.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/CNYC/shared/cn_header.png",
      "fileBody" : "/interface/crafting/CNYC/shared/cn_body.png",
      "fileFooter" : "/interface/crafting/CNYC/shared/cn_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [384, 241]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Recipe Book",
      "subtitle" : " ^#b9b5b2;A book of recipes",
      "position" : [-5, 250],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/culinaryarts.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [48, -20],
      "zlevel" : -10
    },
    "lblMethod" : {
      "type" : "label",
      "position" : [35, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;Method"
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [151, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RECIPE"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [328, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;DISH"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [101, 37]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [111, 37],
      "hAnchor" : "left",
      "value" : "INGREDIENTS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [253, 7],
      "size" : [140, 219]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [123, 21],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblBakingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_baking.png",
      "position" : [11, 188],
      "zlevel" : 3
    },
    "lblBlendingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_blending.png",
      "position" : [38, 188],
      "zlevel" : 3
    },
    "lblBoilingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_boiling.png",
      "position" : [12, 176],
      "zlevel" : 3
    },
    "lblCoffeeMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_coffee.png",
      "position" : [38, 176],
      "zlevel" : 3
    },
    "lblChoppingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_chopping.png",
      "position" : [11, 164],
      "zlevel" : 3
    },
    "lblFreezingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_freezing.png",
      "position" : [38, 164],
      "zlevel" : 3
    },
    "lblFryingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_frying.png",
      "position" : [12, 152],
      "zlevel" : 3
    },
    "lblPurifyingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_kettle.png",
      "position" : [37, 152],
      "zlevel" : 3
    },
    "lblMillMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_milling.png",
      "position" : [11, 140],
      "zlevel" : 3
    },
    "lblPressMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_pressing.png",
      "position" : [39, 140],
      "zlevel" : 3
    },
    "lblJuicerMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_juicer.png",
      "position" : [9, 128],
      "zlevel" : 3
    },
    "lblGrinderMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_grinding.png",
      "position" : [37, 128],
      "zlevel" : 3
    },
    "lblCanningMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_canning.png",
      "position" : [7, 116],
      "zlevel" : 3
    },
    "lblChurningMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_churning.png",
      "position" : [38, 116],
      "zlevel" : 3
    },
    "lblDistillingMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_distilling.png",
      "position" : [8, 104],
      "zlevel" : 3
    },
    "lblJuiceKegMFMTab" : {
      "type" : "image",
      "file" : "/interface/crafting/CNYC/recipebook/methods/cn_juicekeg.png",
      "position" : [42, 104],
      "zlevel" : 3
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [68, 48, 237, 198],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 186],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "bakingMFM" ]
          }
        },
        {
          "position" : [33, 186],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "blendingMFM" ]
          }
        },
        {
          "position" : [4, 174],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "boilingMFM" ]
          }
        },
        {
          "position" : [33, 174],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "coffeeMFM" ]
          }
        },
        {
          "position" : [4, 162],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "choppingMFM" ]
          }
        },
        {
          "position" : [33, 162],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "freezingMFM" ]
          }
        },
        {
          "position" : [4, 150],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "fryingMFM" ]
          }
        },
        {
          "position" : [33, 150],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "purifyingMFM" ]
          }
        },
        {
          "position" : [4, 138],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "handmill" ]
          }
        },
        {
          "position" : [33, 138],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "handpress" ]
          }
        },
        {
          "position" : [4, 126],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "juicerMFM" ]
          }
        },
        {
          "position" : [33, 126],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "grinderMFM" ]
          }
        },
        {
          "position" : [4, 114],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "cannerMFM" ]
          }
        },
        {
          "position" : [33, 114],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "butterchurn" ]
          }
        },
        {
          "position" : [4, 102],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "distilleryMFM" ]
          }
        },
        {
          "position" : [33, 102],
          "baseImage" : "/interface/crafting/CNYC/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/CNYC/shared/cn_selected.png",
          "data" : {
            "filter" : [ "juicekeg" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    },
	
	
	
	
	
    "spinCount" : {
      "type" : "spinner",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [-3000, -3000],
      "disabled" : true,
      "visible": false
    }
  }
}
