{
  "craftingSound" : "/sfx/interface/crafting_cooking.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/crafting/cn_recipebookbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Recipe Book",
      "subtitle" : " ^#b9b5b2;Find the recipes you're looking for",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/culinaryarts.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 243],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RECIPE"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 243],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;DISH"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [-3000, -3000],
	  "disabled" : true,
	  "visible": false,
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [-3000, -3000],
      "disabled" : true,
      "visible": false
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [38, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [48, 58],
      "hAnchor" : "left",
      "value" : "INGREDIENTS AVAILABLE"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [190, 29],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [60, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblBakingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_baking.png",
      "position" : [8, 222],
      "zlevel" : 3
    },
    "lblBlendingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_blending.png",
      "position" : [34, 222],
      "zlevel" : 3
    },
    "lblBoilingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_boiling.png",
      "position" : [62, 222],
      "zlevel" : 3
    },
    "lblCoffeeTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_coffee.png",
      "position" : [90, 222],
      "zlevel" : 3
    },
    "lblChoppingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_chopping.png",
      "position" : [115, 222],
      "zlevel" : 3
    },
    "lblFreezingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_freezing.png",
      "position" : [141, 222],
      "zlevel" : 3
    },
    "lblFryingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_frying.png",
      "position" : [165, 222],
      "zlevel" : 3
    },
    "lblPurifyingTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_kettle.png",
      "position" : [192, 222],
      "zlevel" : 3
    },
    "lblHandMillTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_handmill.png",
      "position" : [223, 221],
      "zlevel" : 3
    },
    "lblHandPressTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_handpress.png",
      "position" : [251, 221],
      "zlevel" : 3
    },
    "lblGrinderTab" : {
      "type" : "image",
      "file" : "/interface/crafting/cn_grinder.png",
      "position" : [278, 221],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [3, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "baking" ]
          }
        },
        {
          "position" : [30, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "blending" ]
          }
        },
        {
          "position" : [57, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "boiling" ]
          }
        },
        {
          "position" : [84, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "coffee" ]
          }
        },
        {
          "position" : [111, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "chopping" ]
          }
        },
        {
          "position" : [138, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "freezing" ]
          }
        },
        {
          "position" : [165, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "frying" ]
          }
        },
        {
          "position" : [192, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "purifying" ]
          }
        },
        {
          "position" : [219, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "handmill" ]
          }
        },
        {
          "position" : [246, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "handpress" ]
          }
        },
        {
          "position" : [273, 221],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : {
            "filter" : [ "grinderMFM" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
