{
  "filter" : [ "germinatingMFM" ],
  "requiresBlueprint" : true,
  "titleFromEntity": false,
  "craftingSound" : "/sfx/interface/crafting_hands.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/MFM/shared/cn_header.png",
      "fileBody" : "/interface/crafting/MFM/shared/cn_body.png",
      "fileFooter" : "/interface/crafting/MFM/shared/cn_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [384, 222]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "SEED TABLE",
      "subtitle" : " ^#b9b5b2;I can germinate seeds from produce with this",
      "position" : [-5, 250],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfarm.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [48, -20],
      "zlevel" : -10
    },
    "lblRace" : {
      "type" : "label",
      "position" : [35, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;CLASS"
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [151, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;SEEDS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [328, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RESULT"
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [295, 21],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [283, 21],
      "upOffset" : 36
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [289, 20],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [334, 18],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [334, 18],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [260, 16]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [101, 37]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [111, 37],
      "hAnchor" : "left",
      "value" : "GERMINATION AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [253, 7],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [123, 21],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblAllTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/shared/cn_all.png",
      "position" : [13, 188],
      "zlevel" : 3
    },
    "lblVegetablesTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_vegetables.png",
      "position" : [37, 188],
      "zlevel" : 3
    },
    "lblFruitsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_fruits.png",
      "position" : [9, 176],
      "zlevel" : 3
    },
    "lblGrainsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_grains.png",
      "position" : [38, 176],
      "zlevel" : 3
    },
    "lblNutsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_nuts.png",
      "position" : [10, 164],
      "zlevel" : 3
    },
    "lblGrassesTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_grasses.png",
      "position" : [38, 164],
      "zlevel" : 3
    },
    "lblFibresTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_fibres.png",
      "position" : [10, 152],
      "zlevel" : 3
    },
    "lblOtherTab" : {
      "type" : "image",
      "file" : "/interface/crafting/MFM/seedtable/classifications/cn_other.png",
      "position" : [38, 152],
      "zlevel" : 3
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [68, 48, 237, 198],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 186],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ ]
          }
        },
        {
          "position" : [33, 186],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "vegetableMFM" ]
          }
        },
        {
          "position" : [4, 174],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "fruitMFM" ]
          }
        },
        {
          "position" : [33, 174],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "grainMFM" ]
          }
        },
        {
          "position" : [4, 162],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "nutMFM" ]
          }
        },
        {
          "position" : [33, 162],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "grassMFM" ]
          }
        },
        {
          "position" : [4, 150],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "fibreMFM" ]
          }
        },
        {
          "position" : [33, 150],
          "baseImage" : "/interface/crafting/MFM/shared/cn_unselected.png",
          "baseImageChecked" : "/interface/crafting/MFM/shared/cn_selected.png",
          "data" : {
            "filter" : [ "otherMFM" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
