{
  "scripts" : [ "/interface/scripted/recipebookMFM/recipebookMFMgui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
	"filterByName",
	"onFilterSelected",
	"onRecipeSelected",
	"onIngredientSelected",
	"selectAllFilters",
	"unselectAllFilters"
  ],
  
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/MFM/shared/headerMFM.png",
      "fileBody" : "/interface/crafting/MFM/shared/bodyMFM.png",
      "fileFooter" : "/interface/crafting/MFM/shared/footerMFM.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [414, 220]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Recipe Book",
      "subtitle" : " ^#b9b5b2;Select recipe methods on the left",
      "position" : [-5, 250],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/culinaryarts.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [88, -20],
      "zlevel" : -10
    },
    "lblMethod" : {
      "type" : "label",
      "position" : [35, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;Method"
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [161, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RECIPE"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [338, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "description" : {
      "type" : "widget",
      "position" : [253, 7],
      "size" : [140, 219]
    },
    "filterByName" : {
      "type" : "textbox",
      "position" : [133, 21],
	  "textAlign" : "left",
      "hint" : "Search",
      "maxWidth" : 70
    },
	"allFilters" : {
		"type" : "button",
		"base" : "/interface/allFiltersButtonMFM.png",
		"hover" : "/interface/allFiltersButtonMFMhover.png",
		"position" : [10, 20],
		"caption" : "All",
		"callback" : "selectAllFilters"
	},
	"noFilters" : {
		"type" : "button",
		"base" : "/interface/nofiltersButtonMFM.png",
		"hover" : "/interface/nofiltersButtonMFMhover.png",
		"position" : [35, 20],
		"caption" : "None",
		"callback" : "unselectAllFilters"
	},

    "filterList" : {
      "type" : "scrollArea",
	  // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
      "rect" : [5, 42, 70, 195],
      "children" : {
		"empty" : {
			"type" : "label",
			"position" : [4, 159],
			"wrapWidth" : 50,
			"vAnchor" : "top",
			"value" : "^cyan;No filters found^reset;. Something is wrong with the mod if you see this. ^red;Notify the author^reset;!"
		},
        "filterItemList" : {
          "type" : "list",
		  "callback" : "onFilterSelected",
		  "scissoring" : false,
          "schema" : {
            "spacing" : [0, 1],
            "memberSize" : [50, 15],
            "listTemplate" : {
              "backgroundSelected" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/filterselectedbackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1,
				"visible" : false
              },
              "backgroundUnselected" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/filterunselectedbackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [10, 11],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 50,
                "value" : "You should see this message for only a second. If you do see it, and it doesn't go away, ^red;tell the author^reset;!",
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "recipeList" : {
      "type" : "scrollArea",
	  // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
      "rect" : [78, 48, 247, 198],
      "children" : {
		"empty" : {
			"type" : "label",
			"position" : [4, 159],
			"wrapWidth" : 159,
			"vAnchor" : "top",
			"value" : "^cyan;No recipes found^reset; ^green;selected a filter or multiple filters^reset; on the left."
		},
        "recipeItemList" : {
          "type" : "list",
		  "callback" : "onRecipeSelected",
		  "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
            "unselectedBG" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 25],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 20],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "value" : "You should see this message for only a second. If you do see it, and it doesn't go away, tell the author",
                "zlevel" : 1
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [3, 5],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "ingredientList" : {
      "type" : "scrollArea",
	  // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT (0, 0))
      "rect" : [253, 25, 427, 197],
      "children" : {
		"empty" : {
			"type" : "label",
			"position" : [4, 159],
			"wrapWidth" : 159,
			"hAnchor" : "left",
			"vAnchor" : "top",
			"value" : "^cyan;Select a recipe on the left. ^reset;\n\nA list of ingredients to make the recipe and the method to craft it will appear here."
		},
        "ingredientItemList" : {
          "type" : "list",
		  "scissoring" : false,
		  "callback" : "onIngredientSelected",
          "schema" : {
            "selectedBG" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
            "unselectedBG" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 25],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 20],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 70,
                "value" : "You should see this message for only a second. If you do see it, and it doesn't go away, tell the author"
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [3, 5],
                "zlevel" : 1
              },
              "countLabel" : {
                "type" : "label",
                "position" : [110, 20],
                "wrapWidth" : 40,
                "hAnchor" : "left",
                "vAnchor" : "top",
                "value" : "0"
              }
            }
          }
        }
      }
    }
  }
}
