{
  "scripts" : [ "/interface/scripted/recipebookMFM/recipebookMFMgui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "toggleFilter",
	"filterByName",
	"btnFilterHaveMaterials"
  ],
  
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/MFM/shared/headerMFM.png",
      "fileBody" : "/interface/crafting/MFM/shared/bodyMFM.png",
      "fileFooter" : "/interface/crafting/MFM/shared/footerMFM.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [414, 220]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Recipe Book",
      "subtitle" : " ^#b9b5b2;Select recipe methods on the left",
      "position" : [-5, 250],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/culinaryarts.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [88, -20],
      "zlevel" : -10
    },
    "lblMethod" : {
      "type" : "label",
      "position" : [35, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;Method"
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [161, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RECIPE"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [338, 203],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "description" : {
      "type" : "widget",
      "position" : [253, 7],
      "size" : [140, 219]
    },
    "filterByName" : {
      "type" : "textbox",
      "position" : [133, 21],
	  "textAlign" : "left",
      "hint" : "Search",
      "maxWidth" : 70
    },
	"bakingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/bakingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/bakingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
	  "position" : [10, 188],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "bakingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"blendingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/blendingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/blendingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 188],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "blendingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"boilingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/boilingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/boilingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 176],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "boilingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"coffeeMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/coffeeMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/coffeeMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 176],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "coffeeMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"choppingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/choppingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/choppingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 164],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "choppingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"freezingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/freezingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/freezingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 164],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "freezingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"fryingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/fryingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/fryingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 152],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "fryingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"purifyingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/purifyingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/purifyingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 152],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "purifyingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"millingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/millingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/millingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 140],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "millingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"pressingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/pressingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/pressingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 140],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "pressingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"churningMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/churningMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/churningMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 128],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "churningMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"canningMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/canningMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/canningMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 128],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "canningMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"distillingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/distillingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/distillingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [10, 116],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "distillingMFM"
	  },
	  "callback" : "toggleFilter"
	},
	"preparingMFMchkbox" : {
	  "type" : "button",
	  "base" : "/interface/crafting/MFM/recipebook/methods/preparingMFMunchecked.png",
	  "baseImageChecked" : "/interface/crafting/MFM/recipebook/methods/preparingMFMchecked.png",
	  "checkable" : true,
	  "checked" : false,
      "position" : [40, 116],
	  "zlevel" : 3,
	  "data" : {
		"filterName" : "preparingMFM"
	  },
	  "callback" : "toggleFilter"
	},

    "recipeList" : {
      "type" : "scrollArea",
	  // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT)
      "rect" : [78, 48, 247, 198],
      "children" : {
		"empty" : {
			"type" : "label",
			"position" : [4, 159],
			"wrapWidth" : 159,
			"vAnchor" : "top",
			"value" : "^cyan;No recipes found^reset; with the currently ^green;selected filters^reset; on the left."
		},
        "itemList" : {
          "type" : "list",
		  "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
            "unselectedBG" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 25],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 20],
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "value" : "Replace Me",
                "zlevel" : 1
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [3, 5],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "ingredientList" : {
      "type" : "scrollArea",
	  // LEFT, BOTTOM, RIGHT, TOP (ORIGIN BOTTOM LEFT)
      "rect" : [253, 25, 427, 197],
      "children" : {
		"empty" : {
			"type" : "label",
			"position" : [4, 159],
			"wrapWidth" : 159,
			"vAnchor" : "top",
			"value" : "^cyan;Select a recipe on the left. ^reset;\n\nA list of ingredients to make the recipe and the method to craft it will appear here."
		},
        "ingredientItemList" : {
          "type" : "list",
		  "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/crafting/MFM/shared/craftableselectedMFM.png",
            "unselectedBG" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 25],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/MFM/shared/craftablebackgroundMFM.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 20],
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [3, 5],
                "zlevel" : 1
              },
              "countLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "vAnchor" : "top",
                "value" : "0"
              }
            }
          }
        }
      }
    }
  }
}
