{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/blenderMFM_header.png",
      "fileBody" : "/interface/objectcrafting/blenderMFM_body.png",
      "fileFooter" : "/interface/objectcrafting/blenderMFM_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 39],
      "dimensions" : [5, 2],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [104, 52],
      "file" : "/interface/objectcrafting/arrowMFM.png"
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [116, 49],
      "dimensions" : [1, 1],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/blenderMFM_shine.png",
      "position" : [-20, 20]
    }
  }
}
