{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/icemaker_header.png",
      "fileBody" : "/interface/objectcrafting/icemaker_body.png",
      "fileFooter" : "/interface/objectcrafting/icemaker_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 39],
      "base" : "/interface/objectcrafting/icemaker.png",
      "hover" : "/interface/objectcrafting/icemakerover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [110, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [96, 40],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/handpress_shine.png",
      "position" : [-20, 20]
    }
  }
}
