{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/recipeCrafterMFM_header.png",
      "fileBody" : "/interface/objectcrafting/recipeCrafterMFM_body.png",
      "fileFooter" : "/interface/objectcrafting/recipeCrafterMFM_footer.png"
    },
    "lblIngredients" : {
      "type" : "label",
      "position" : [57, 96],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [123, 56],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RESULT"
    },
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 38],
      "dimensions" : [5, 3],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [104, 41],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [114, 38],
      "dimensions" : [1, 1],
	  "slotOffset": 15,
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/recipeCrafterMFM_shine.png",
      "position" : [-20, 20]
    }
  }
}
