{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/recipeCrafterMFM_header.png",
      "fileBody" : "/interface/objectcrafting/recipeCrafterMFM_body.png",
      "fileFooter" : "/interface/objectcrafting/recipeCrafterMFM_footer.png"
    },
    "lblIngredients" : {
      "type" : "label",
      "position" : [57, 99],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;INGREDIENTS"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [123, 59],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;RESULT"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 41],
      "dimensions" : [5, 3],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [104, 44],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [114, 41],
      "dimensions" : [1, 1],
      "slotOffset": 15,
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "toggleDebug" : {
      "type": "button",
      "checkable" : true,
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checked" : false,
      "position" : [5, 25]
    },
    "lblDebug" : {
      "type" : "label",
      "position" : [15, 25],
      "hAnchor" : "left",
      "value" : "DEBUG"
    },
    "craft" : {
      "type": "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [80, 22],
      "caption": "MAKE"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/recipeCrafterMFM_shine.png",
      "position" : [-20, 20]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 115]
    }
  },

  "scriptWidgetCallbacks" : [
    "craft",
    "toggleDebug"
  ],

  "scripts" : ["/interface/objectcrafting/recipeCrafterMFMgui.lua"],
  "scriptDelta" : 1
}
