{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/recipeCrafterMFM_header.png",
      "fileBody" : "/interface/objectcrafting/recipeCrafterMFM_body.png",
      "fileFooter" : "/interface/objectcrafting/recipeCrafterMFM_footer.png"
    },
	"itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 40],
      "dimensions" : [5, 3],
	  "slotOffset": 1,
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [104, 52],
      "file" : "/interface/objectcrafting/arrowMFM.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [116, 49],
      "dimensions" : [1, 1],
      "spacing" : [20, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/recipeCrafterMFM_shine.png",
      "position" : [-20, 20]
    }
  }
}
